<!--UMGEBUNG-->
<div class="sun-wrapper">
  <svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Sun.svg" class="sun"></svg-icon>
</div>
<div class="moon-wrapper">
  <svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Moon.svg" class="moon" (click)="this.openInfo('room4coin2', '/assets/sprites/Room/4-deploy-and-operate/Moon.svg')"></svg-icon>
</div>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Cactus.svg" class="cactus"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Cactus2.svg" class="cactus2"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Cactus-blue.svg" class="cactus-blue" (click)="cactusBlueClick()"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Fatamorgana-left.svg" class="fatamorgana-left"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Fatamorgana-right.svg" class="fatamorgana-right"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Fatamorgana-bottom.svg" class="fatamorgana-bottom"></svg-icon>

<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Kirche.svg" class="kirche"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Saloon.svg" (click)="blancaVisible()" class="saloon"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Blanca.svg" *ngIf="!blancaHidden" class="blanca" (click)="blancaClick()"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-operate\Lucky.svg" class="lucky" (click)="luckyClick()"></svg-icon>

<div class="night"></div>

<app-avatar [avatarType]="progress.avatarType"></app-avatar>
