<!--UMGEBUNG-->
<div class="sun-wrapper">
  <svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Sun.svg" class="sun"></svg-icon>
</div>
<div class="moon-wrapper">
  <svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Moon.svg" class="moon" (click)="this.openInfo('room4coin2', '/assets/sprites/Room/4-deploy-and-testing/Moon.svg')"></svg-icon>
</div>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Cactus.svg" class="cactus"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Cactus2.svg" class="cactus2"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Cactus-blue.svg" class="cactus-blue"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Fatamorgana-left.svg" class="fatamorgana-left"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Fatamorgana-right.svg" class="fatamorgana-right"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Fatamorgana-bottom.svg" class="fatamorgana-bottom"></svg-icon>

<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Kirche.svg" class="kirche"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Saloon.svg" (click)="blancaVisible()" class="saloon"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Blanca.svg" *ngIf="!blancaHidden" class="blanca" (click)="blancaClick()"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-deploy-and-testing\Lucky.svg" class="lucky" (click)="luckyClick()"></svg-icon>

<div class="night"></div>

<app-avatar [avatarType]="progress.avatarType"></app-avatar>
