:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .cactus {
    pointer-events: none;
    position: absolute;
    width: 40%;
    bottom: 3%;
    left: 10%;
  }

  .cactus2 {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 10%;
    left: 20%;
  }

  .cactus3 {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 38%;
    left: 55%
  }

  .kirche {
    position: absolute;
    width: 40%;
    top: 11.5%;
    left: 56%;
  }

  .saloon {
    position: absolute;
    width: 40%;
    top: 65%;
    left: 0;
  }

  .lucky {
    position: absolute;
    width: 14%;
    top: 78%;
    left: 48%;
  }

  .sun {
    pointer-events: none;
    position: absolute;
    width: 18%;
    opacity: 0;

    border-radius: 50%;
    animation: sunAnimation 60s linear infinite;
  }

  .moon {
    position: absolute;
    width: 20%;
    opacity: 0;

    border-radius: 50%;
    animation: moonAnimation 60s linear infinite;
  }

  .sun-wrapper {
    width: 110%;
    pointer-events: none;
    position: absolute;
    top: 25%;

    animation: wrapperAnimation 60s linear infinite;
  }

  .moon-wrapper {
    width: 110%;
    position: absolute;
    top: 25%;

    animation: wrapperAnimation 60s 30s linear infinite;
  }

  @keyframes wrapperAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sunAnimation {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes moonAnimation {
    0% {
      opacity: 0;
    }
    53% {
      opacity: 0;
      transform: rotate(120deg);
    }
    56% {
      opacity: 1;
    }
    75% {
      transform: rotate(30deg);
    }
    97% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(-50deg);
    }
  }
}

