:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .cactus {
    pointer-events: none;
    position: absolute;
    width: 40%;
    bottom: 3%;
    left: 10%;
  }

  .cactus2 {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 10%;
    left: 20%;
  }

  .cactus3 {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 38%;
    left: 55%
  }

  .kirche {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 11.5%;
    left: 56%;
  }

  .saloon {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 65%;
    left: 0;
  }

  .sun {
    pointer-events: none;
    position: absolute;
    width: 20%;

    border-radius: 50%;
    animation: sunAnimation 60s linear infinite;
  }

  .wrapper {
    width: 110%;
    pointer-events: none;
    position: absolute;
    top: 25%;

    animation: wrapperAnimation 60s linear infinite;
  }

  @keyframes wrapperAnimation {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(200deg);
    }
  }

  @keyframes sunAnimation {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    3% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    97% {
      opacity: 0;
    }
    100% {
      transform: rotate(180deg);
      opacity: 0;
    }
  }
}

