<!--UMGEBUNG-->
<svg-icon src="\assets\sprites\Room\6-playground\Bank-und-Baume.svg" class="bank" (click)="entryAbaton()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Lake.svg" class="lake"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Ringe.svg" class="ringe"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Schaukel.svg" class="schaukel"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Tannenwald.svg" class="tannenwald"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Tree.svg" class="tree1"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Tree.svg" class="tree2"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Tree.svg" class="tree3"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Tree.svg" class="tree4"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Lilly.svg" class="lilly" (click)="lillyLogic()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Heidi.svg"
          class="heidi"
          (click)="heidiLogic()">
</svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Leo.svg" class="leo" (click)="leoLogic()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Arnold.svg" class="arnold" (click)="entryAbaton()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Play.svg" class="play" (click)="entryAbaton()"></svg-icon>
