<!--UMGEBUNG-->
<svg-icon src="\assets\sprites\Room\6-playground\Bank-und-Baume.svg" class="bank" (click)="entryAbaton()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Lake.svg" class="lake"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Ringe.svg" class="ringe"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Schaukel.svg" class="schaukel"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Trees.svg" class="trees"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Lilly.svg" class="lilly"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Leo.svg" class="leo"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Arnold.svg" class="arnold" (click)="entryAbaton()"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-playground\Play.svg" class="play" (click)="entryAbaton()"></svg-icon>
