:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .bank {
    position: absolute;
    width: 60%;
    top: 5%;
    left: 10%;
  }

  .lake {
    pointer-events: none;
    position: absolute;
    width: 40%;
    top: 78%;
    left: 38%;
  }

  .ringe {
    position: absolute;
    width: 35%;
    top: 25%;
    left: 70%;
  }

  .schaukel {
    position: absolute;
    width: 45%;
    top: 37%;
    left: 2%;
  }

  .tannenwald {
    position: absolute;
    width: 40%;
    top: 65%;
    left: 30%;
  }

  .tree1 {
    position: absolute;
    width: 12%;
    top: 65%;
    left: 42%;
  }

  .tree2 {
    position: absolute;
    width: 12%;
    top: 57%;
    left: 65%;
  }

  .tree3 {
    position: absolute;
    width: 12%;
    top: 66%;
    left: 77%;
  }

  .tree4 {
    position: absolute;
    width: 12%;
    top: 60%;
    left: 90%;
  }

  .lilly {
    position: absolute;
    width: 7%;
    top: 39.5%;
    left: 26.5%;
  }

  .leo {
    position: absolute;
    width: 15%;
    top: 80%;
    left: 80%;
  }

  .heidi {
    position: absolute;
    width: 10%;
    top: 31.5%;
    left: 77%;
  }

  .arnold {
    position: absolute;
    width: 10%;
    top: 11%;
    left: 32%;
  }

  .play {
    position: absolute;
    width: 10%;
    top: 6%;
    left: 32%;
  }
}

