:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .cloud-left {
    position: absolute;
    width: 12%;
    top: 6%;
    left: 87%;
  }

  .cloud-right {
    position: absolute;
    width: 15%;
    top: 4%;
    left: 78%;
  }

  .bank {
    position: absolute;
    width: 60%;
    top: 5%;
    left: 10%;
  }

  .lake {
    position: absolute;
    width: 40%;
    top: 78%;
    left: 38%;
  }

  .ringe {
    position: absolute;
    width: 35%;
    top: 25%;
    left: 70%;
  }

  .schaukel {
    position: absolute;
    width: 45%;
    top: 37%;
    left: 2%;
  }

  .tannenwald {
    position: absolute;
    width: 40%;
    top: 65%;
    left: 30%;
  }

  .tree1 {
    position: absolute;
    width: 12%;
    top: 65%;
    left: 42%;

    $light-color: #a3a35c;

    &.treeClicked {
      ::ng-deep {
        svg {
          ellipse {
            &#Oval {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .tree2 {
    position: absolute;
    width: 12%;
    top: 57%;
    left: 65%;

    $light-color: #a3a35c;

    &.treeClicked {
      ::ng-deep {
        svg {
          ellipse {
            &#Oval {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .tree3 {
    position: absolute;
    width: 12%;
    top: 66%;
    left: 77%;

    $light-color: #a3a35c;

    &.treeClicked {
      ::ng-deep {
        svg {
          ellipse {
            &#Oval {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .tree4 {
    position: absolute;
    width: 12%;
    top: 60%;
    left: 90%;

    $light-color: #a3a35c;

    &.treeClicked {
      ::ng-deep {
        svg {
          ellipse {
            &#Oval {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .lilly {
    position: absolute;
    width: 7%;
    top: 39.5%;
    left: 26.5%;
  }

  .leo {
    position: absolute;
    width: 15%;
    top: 80%;
    left: 80%;
  }

  .heidi {
    position: absolute;
    width: 10%;
    top: 31.5%;
    left: 77%;
  }

  .arnold {
    position: absolute;
    width: 10%;
    top: 11%;
    left: 32%;
  }

  .play {
    position: absolute;
    width: 10%;
    top: 6%;
    left: 32%;
  }

  .franco {
    position: absolute;
    width: 16%;
    top: 72%;
    left: 50%;

    animation: francoAnimation 2s linear;
  }

  app-avatar {
    position: absolute;
    top: 30%;
    left: 3%;

    &.pos-arnold {
      top: 26%;
      left: 50%;
    }

    &.pos-heidi {
      top: 43%;
      left: 68%;
    }

    &.pos-lilly {
      top: 56%;
      left: 53%;
    }

    &.pos-leo {
      top: 94.5%;
      left: 64%;
    }

    $doorArnoldDuration: 0.6s;
    $arnoldHeidiDuration: 0.6s;
    $heidiLillyDuration: 0.6s;
    $lillyLeoDuration: 2.2s;

    &.walk-door-arnold {
      animation: walkingDoor-Arnold $doorArnoldDuration linear;
    }

    &.walk-door-heidi {
      animation: walkingDoor-Arnold $doorArnoldDuration linear, walkingArnold-Heidi $arnoldHeidiDuration $doorArnoldDuration linear;
    }

    &.walk-door-lilly {
      animation: walkingDoor-Arnold $doorArnoldDuration linear, walkingArnold-Heidi $arnoldHeidiDuration $doorArnoldDuration linear, walkingHeidi-Lilly $heidiLillyDuration #{$doorArnoldDuration + $arnoldHeidiDuration} linear;
    }

    &.walk-door-leo {
      animation: walkingDoor-Arnold $doorArnoldDuration linear, walkingArnold-Heidi $arnoldHeidiDuration $doorArnoldDuration linear, walkingHeidi-Lilly $heidiLillyDuration #{$doorArnoldDuration + $arnoldHeidiDuration} linear, walkingLilly-Leo $lillyLeoDuration #{$doorArnoldDuration + $arnoldHeidiDuration + $heidiLillyDuration} linear;
    }

    &.walk-arnold-door {
      animation: walkingDoor-Arnold $doorArnoldDuration reverse linear;
    }

    &.walk-arnold-heidi {
      animation: walkingArnold-Heidi $arnoldHeidiDuration linear;
    }

    &.walk-arnold-lilly {
      animation: walkingArnold-Heidi $arnoldHeidiDuration linear, walkingHeidi-Lilly $heidiLillyDuration $arnoldHeidiDuration linear;
    }

    &.walk-arnold-leo {
      animation: walkingArnold-Heidi $arnoldHeidiDuration linear, walkingHeidi-Lilly $heidiLillyDuration $arnoldHeidiDuration linear, walkingLilly-Leo $lillyLeoDuration #{$arnoldHeidiDuration + $heidiLillyDuration} linear;
    }

    &.walk-heidi-door {
      animation: walkingArnold-Heidi $arnoldHeidiDuration reverse linear, walkingDoor-Arnold $doorArnoldDuration $arnoldHeidiDuration reverse linear;
    }

    &.walk-heidi-arnold {
      animation: walkingArnold-Heidi $arnoldHeidiDuration reverse linear;
    }

    &.walk-heidi-lilly {
      animation: walkingHeidi-Lilly $heidiLillyDuration linear;
    }

    &.walk-heidi-leo {
      animation: walkingHeidi-Lilly $heidiLillyDuration linear, walkingLilly-Leo $lillyLeoDuration $heidiLillyDuration linear;
    }

    &.walk-lilly-door {
      animation: walkingHeidi-Lilly $heidiLillyDuration reverse linear, walkingArnold-Heidi $arnoldHeidiDuration $heidiLillyDuration reverse linear, walkingDoor-Arnold $doorArnoldDuration #{$heidiLillyDuration + $arnoldHeidiDuration} reverse linear;
    }

    &.walk-lilly-arnold {
      animation: walkingHeidi-Lilly $heidiLillyDuration reverse linear, walkingArnold-Heidi $arnoldHeidiDuration $heidiLillyDuration reverse linear;
    }

    &.walk-lilly-heidi {
      animation: walkingHeidi-Lilly $heidiLillyDuration reverse linear;
    }

    &.walk-lilly-leo {
      animation: walkingLilly-Leo $lillyLeoDuration linear;
    }

    &.walk-leo-door {
      animation: walkingLilly-Leo $lillyLeoDuration reverse linear, walkingHeidi-Lilly $heidiLillyDuration $lillyLeoDuration reverse linear, walkingArnold-Heidi $arnoldHeidiDuration #{$lillyLeoDuration + $heidiLillyDuration} reverse linear, walkingDoor-Arnold $doorArnoldDuration #{$lillyLeoDuration + $heidiLillyDuration + $arnoldHeidiDuration} reverse linear;
    }

    &.walk-leo-arnold {
      animation: walkingLilly-Leo $lillyLeoDuration reverse linear, walkingHeidi-Lilly $heidiLillyDuration $lillyLeoDuration reverse linear, walkingArnold-Heidi $arnoldHeidiDuration #{$lillyLeoDuration + $heidiLillyDuration} reverse linear;
    }

    &.walk-leo-heidi {
      animation: walkingLilly-Leo $lillyLeoDuration reverse linear, walkingHeidi-Lilly $heidiLillyDuration $lillyLeoDuration reverse linear;
    }

    &.walk-leo-lilly {
      animation: walkingLilly-Leo $lillyLeoDuration reverse linear;
    }

    @keyframes francoAnimation {
      0% {
        opacity: 0;
        width: 14%;
        top: 75%;
        left: 52%;
      }
      25% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        width: 16%;
        top: 72%;
        left: 50%;
      }
    }

    @keyframes walkingDoor-Arnold {
      0% {
        top: 30%;
        left: 3%;
      }
      66.67% {
        top: 25%;
        left: 33%;
      }
      100% {
        top: 26%;
        left: 50%;
      }
    }

    @keyframes walkingArnold-Heidi {
      0% {
        top: 26%;
        left: 50%;
      }
      100% {
        top: 43%;
        left: 68%;
      }
    }

    @keyframes walkingHeidi-Lilly {
      0% {
        top: 43%;
        left: 68%;
      }
      33.33% {
        top: 49%;
        left: 72%;
      }
      66.67% {
        top: 54%;
        left: 68%;
      }
      100% {
        top: 56%;
        left: 53%;
      }
    }

    @keyframes walkingLilly-Leo {
      0% {
        top: 56%;
        left: 53%;
      }
      9.09% {
        top: 57%;
        left: 39%;
      }
      18.18% {
        top: 61%;
        left: 25%;
      }
      36.36% {
        top: 71%;
        left: 8%;
      }
      45.45% {
        top: 77%;
        left: 4%;
      }
      54.55% {
        top: 82%;
        left: 4%;
      }
      63.64% {
        top: 88%;
        left: 12%;
      }
      72.73% {
        top: 92%;
        left: 21%;
      }
      90.91% {
        top: 96%;
        left: 50%;
      }
      100% {
        top: 94.5%;
        left: 64%;
      }
    }
  }
}

