:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;

  .logo {
    position: absolute;
    width: 90%;
    top: 10%;
  }

  .treeGroup1 {
    position: absolute;
    width: 40%;
    top: 63%;
    left: 30%;
  }

  .treeGroup2 {
    position: absolute;
    width: 46%;
    top: 55%;
    left: 27%;
  }

  .key {
    position: absolute;
    width: 11%;
    top: 25%;
    left: -15%;
  }

  .coin {
    position: absolute;
    width: 11%;
    top: 65%;
    left: -15%;
  }

  .content {
    position: absolute;
    max-height: 88%;
    max-width: 95%;
    margin-top: 55%;
  }

  .content2 {
    position: absolute;
    margin-left: 10%;
    max-height: 88%;
    max-width: 95%;
    margin-top: 10%;
  }

  .title {
    display: flex;
    flex: 1 0 auto;
    margin-top: 10%;
  }

  .title2 {
    display: flex;
    flex: 1 0 auto;
    margin-top: 10%;
  }

  .child-subtext {
    display: flex;
    flex: 1 0 auto;
    margin-top: -5%;
    flex-direction: row;
  }

  .child-button {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 8%;
  }

  .child-swipe {
    position: absolute;
    width: 30%;
    left: 35%;
    text-align: center;
    bottom: 17%;
  }
}

p {
  font-size: 18px;
  font-weight: normal;
}
