:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;

  .logo {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 5%;
  }

  .treeGroup1 {
    position: absolute;
    width: 36%;
    top: 63%;
    left: 32%;
    display: none;
  }

  .treeGroup2 {
    position: absolute;
    width: 46%;
    top: 66%;
    left: 27%;
    display: none;
  }

  .title {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 25%;
  }

  .title2 {
    position: absolute;
    width: 90%;
    left: 20%;
    top: 3%;
  }

  .subtext1 {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 32%;
  }

  .wrapper {
    position: absolute;
    top: 15%;
  }

  .subtext2a, .subtext2b {
    display: flex;
    flex: 1 0 auto;

    font-size: large;
    font-weight: normal;

    .text {
      margin-left: 5%;
      width: 80%;
    }

    .key {
      width: 10%;

    }

    .coin {
      width: 10%;
    }

  }

  .subtext2a {
  }

  .subtext2b {
    margin-top: 5%;
  }

  .child-button {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 8%;
  }

  .child-swipe {
    position: absolute;
    width: 30%;
    left: 35%;
    text-align: center;
    bottom: 17%;
  }

  @media screen and (min-height: 640px) {

    .subtext2a, .subtext2b {
      margin-left: 5%;
    }

    .treeGroup1 {
      display: block;
    }

    .treeGroup2 {
      display: block;
    }
  }
}

p {
  font-size: 18px;
  font-weight: normal;
}
