<ng-container *ngIf="state == 0">
  <div class="background">
    <svg-icon src="../../assets/sprites/Onboarding/Background/Background1.svg" class="element"></svg-icon>
  </div>
  <div class="content">
    <div class="child-title ">
      <h1>Herzlich Willkommen!</h1>
    </div>
    <div class="child-subtext">
      <p>Wir haben für dich innert einer Woche eine App entwickelt. In verschiedenen Räumen und mit Hilfe der App wirst
        du live erleben, welche Abläufe wir in der Informatik von der ZKB durchleben. <br><br>
        Lass dich begeistern von der Informatik in der Zürcher Kantonalbank!</p>
    </div>
    <div class="child-logo">
      <svg-icon src="../../assets/sprites/Logo/Informatiktage2020.svg" [svgStyle]="{'width': '80%'}"></svg-icon>
    </div>
  </div>
  <div class="child-button">
    <app-button btnTitle="Weiter" (btnClicked)="startLogin($event)"></app-button>
  </div>
  <div class="child-swipe">
    <svg-icon src="../../assets/sprites/Icon/Paging/1.svg" [svgStyle]="{'width': '80%'}"></svg-icon>
  </div>
</ng-container>

<ng-container *ngIf="state == 1">
  <div class="background">
    <svg-icon src="\assets\sprites\Onboarding\Background\Background2.svg" class="element"></svg-icon>
  </div>

  <div class="content">
    <div class="child-title ">
      <h1>Erklärung</h1>
    </div>
    <div class="child-subtext">
      <p>Hole dir mit den Hauptaufgaben alle Schlüssel, um die Räume auf der Karte freizuschalten. Im letzen Raum wartet
        ein toller Wettbewerb auf dich!</p>
      <p>Mit den Zusatzaufgaben kannst du die ZKB Coins sammeln. Wenn du ausreichend fleissig warst, kannst du die ZKB
        Coins direkt an unserem Sofortpreise-Stand einlösen.</p>
    </div>
    <div class="child-logo">
      <svg-icon src="../../assets/sprites/Icon/Map/Bank.svg" [svgStyle]="{'width': '80%'}"></svg-icon>
    </div>
  </div>
  <div class="child-button">
    <app-button btnTitle="Weiter" (btnClicked)="startLogin($event)"></app-button>
  </div>
  <div class="child-swipe">
    <svg-icon src="../../assets/sprites/Icon/Paging/2.svg" [svgStyle]="{'width': '80%'}"></svg-icon>
  </div>
</ng-container>

<ng-container *ngIf="state == 2">
  <app-avatar-selector></app-avatar-selector>
</ng-container>
