:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;

  .logo {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 5%;
  }

  .treeGroup1 {
    position: absolute;
    width: 36%;
    top: 60%;
    left: 32%;
  }

  .treeGroup2 {
    position: absolute;
    width: 46%;
    top: 62%;
    left: 27%;
  }

  .key {
    position: absolute;
    width: 10%;
    top: 18%;
    left: 5%;
  }

  .coin {
    position: absolute;
    width: 10%;
    top: 37%;
    left: 5%;
  }

  .title {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 25%;
  }

  .title2 {
    position: absolute;
    width: 90%;
    left: 20%;
    top: 10%;
  }

  .subtext1 {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 32%;
  }

  .subtext2{
    position: absolute;
    width: 75%;
    left: 20%;
    top: 15%;
  }

  .child-button {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 8%;
  }

  .child-swipe {
    position: absolute;
    width: 30%;
    left: 35%;
    text-align: center;
    bottom: 17%;
  }
}

p {
  font-size: 18px;
  font-weight: normal;
}
