<div class="frage">
  <div class="icon">
    <svg-icon [src]="'/assets/sprites/Room/6-playground/Play.svg'" class="movie"></svg-icon>
  </div>
  <h1 class="titel">Video</h1>
  <div class="titel">Willkommen auf dem Video-Screen. Hier hast du die Möglichkeit, den kompletten Film nochmals
    anzuschauen.<br/><br/></div>
  <div class="titel">
    <iframe class="youtube" src='https://www.youtube.com/embed/-BogbhablCo' frameborder='1'
            allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
  </div>
</div>

