<svg-icon src="\assets\sprites\Room\5-recruiting\Fishgroup.svg" class="fishgroup"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Jellyfish.svg" class="jellyfish"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Franco.svg" (click)="doFinish()" class="franco"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Submarine.svg" class="submarine"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Fishgroup2.svg" class="fishgroup2"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Seestern-gross.svg" class="star1"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Seestern-klein.svg" class="star2"></svg-icon>
