:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .fishgroup {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 4%;
    left: 22%;
  }

  .jellyfish {
    pointer-events: none;
    position: absolute;
    width: 27%;
    top: 20%;
    left: 50%;
  }

  .franco {
    position: absolute;
    width: 18%;
    top: 12%;
    left: 88%;
  }

  .submarine {
    position: absolute;
    width: 38%;
    top: 41%;
    left: 8%;

    $light-color: yellow;

    &.mode1 {
      ::ng-deep {
        svg {
          circle {
            &#Light1 {
              fill: $light-color;
            }
          }
        }
      }
    }

    &.mode2 {
      ::ng-deep {
        svg {
          circle {
            &#Light1, &#Light2 {
              fill: $light-color;
            }
          }
        }
      }
    }

    &.mode3 {
      ::ng-deep {
        svg {
          circle {
            &#Light1, &#Light2, &#Light3 {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .fishgroup2 {
    pointer-events: none;
    position: absolute;
    width: 34%;
    top: 69%;
    left: 48%;
  }

  .star1 {
    position: absolute;
    width: 30%;
    top: 80%;
    left: 16%;
  }

  .star2 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 88%;
    left: 40%;
  }

  .zora {
    position: absolute;
    width: 10%;
    top: 81%;
    left: 25%;
  }

  .granit {
    pointer-events: none;
    position: absolute;
    width: 8%;
    top: 42.3%;
    left: 24%;
  }

  .crazyfish {
    position: absolute;
    width: 15%;
    visibility: hidden;
  }

  .crazyfish0 {
    animation: crazyfish0Animation 2s linear;
  }

  @keyframes crazyfish0Animation {
    0% {
      visibility: visible;
      top: 100%;
      left: 86%;
    }
    100% {
      top: 0;
      left: 53%;
    }
  }

  .crazyfish1 {
    animation: crazyfish1Animation 2s linear;
  }

  @keyframes crazyfish1Animation {
    0% {
      visibility: visible;
      top: 0;
      left: 86%;
    }
    100% {
      top: 100%;
      left: 53%;
    }
  }

  .crazyfish2 {
    animation: crazyfish2Animation 2s linear;
  }

  @keyframes crazyfish2Animation {
    0% {
      visibility: visible;
      top: 100%;
      left: 86%;
    }
    100% {
      top: 0;
      left: 53%;
    }
  }

  .crazyfish3 {
    animation: crazyfish3Animation 2s linear;
  }

  @keyframes crazyfish3Animation {
    0% {
      visibility: visible;
      top: 100%;
      left: 86%;
    }
    100% {
      top: 0;
      left: 53%;
    }
  }

  .crazyfish4 {
    animation: crazyfish4Animation 2s linear;
  }

  @keyframes crazyfish4Animation {
    0% {
      visibility: visible;
      top: 100%;
      left: 86%;
    }
    100% {
      top: 0;
      left: 53%;
    }
  }
}

