:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .fishgroup {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 4%;
    left: 22%;
  }

  .jellyfish {
    pointer-events: none;
    position: absolute;
    width: 27%;
    top: 20%;
    left: 50%;
  }

  .franco {
    position: absolute;
    width: 18%;
    top: 12%;
    left: 88%;
  }

  .bubble1 {
    pointer-events: none;
    position: absolute;
    width: 2%;
    top: 8%;
    left: 88%;
    opacity: 0;

    animation: bubbleAnimation 4s linear infinite;
  }

  .bubble2 {
    pointer-events: none;
    position: absolute;
    width: 2%;
    top: 5%;
    left: 94%;
    opacity: 0;

    animation: bubbleAnimation 4s 1s linear infinite;
  }

  .bubble3 {
    pointer-events: none;
    position: absolute;
    width: 2%;
    top: 3%;
    left: 90%;
    opacity: 0;

    animation: bubbleAnimation 4s 2s linear infinite;
  }

  .submarine {
    position: absolute;
    width: 38%;
    top: 41%;
    left: 8%;

    $light-color: #ba494c;

    &.mode1 {
      ::ng-deep {
        svg {
          circle {
            &#Light1 {
              fill: $light-color;
            }
          }
        }
      }
    }

    &.mode2 {
      ::ng-deep {
        svg {
          circle {
            &#Light1, &#Light2 {
              fill: $light-color;
            }
          }
        }
      }
    }

    &.mode3 {
      ::ng-deep {
        svg {
          circle {
            &#Light1, &#Light2, &#Light3 {
              fill: $light-color;
            }
          }
        }
      }
    }
  }

  .fishgroup2 {
    pointer-events: none;
    position: absolute;
    width: 34%;
    top: 65%;
    left: 48%;

    animation: fishgroupAnimation 20s linear infinite;
  }

  .star1 {
    position: absolute;
    width: 30%;
    top: 80%;
    left: 16%;
  }

  .star2 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 88%;
    left: 40%;
  }

  .zora {
    position: absolute;
    width: 10%;
    top: 81%;
    left: 25%;
  }

  .granit {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 8%;
    top: 42.3%;
    left: 24%;
  }

  .granitVisible {
    visibility: visible;
  }

  app-avatar {
    position: absolute;
    top: 33%;
    left: 3%;

    &.pos-zora {
      top: 86%;
      left: 8%;
    }

    &.pos-franco {
      top: 34%;
      left: 91%;
    }

    $doorZoraDuration: 1.73s;
    $zoraFrancoDuration: 2.27s;

    &.walk-door-zora {
      animation: walkingDoor-Zora $doorZoraDuration linear;
    }

    &.walk-door-franco {
      animation: walkingDoor-Zora $doorZoraDuration linear, walkingZora-Franco $zoraFrancoDuration $doorZoraDuration linear;
    }

    &.walk-zora-door {
      animation: walkingDoor-Zora $doorZoraDuration reverse linear;
    }

    &.walk-zora-franco {
      animation: walkingZora-Franco $zoraFrancoDuration linear;
    }

    &.walk-franco-door {
      animation: walkingZora-Franco $zoraFrancoDuration reverse linear, walkingDoor-Zora $doorZoraDuration $zoraFrancoDuration reverse linear;
    }

    &.walk-franco-zora {
      animation: walkingZora-Franco $zoraFrancoDuration reverse linear;
    }

    @keyframes walkingDoor-Zora {
      0% {
        top: 33%;
        left: 3%;
      }
      23.08% {
        top: 38%;
        left: 50%;
      }
      30.77% {
        top: 42%;
        left: 63%;
      }
      38.46% {
        top: 48%;
        left: 70%;
      }
      46.15% {
        top: 54%;
        left: 68%;
      }
      69.23% {
        top: 65%;
        left: 32%;
      }
      84.62% {
        top: 74%;
        left: 13%;
      }
      100% {
        top: 86%;
        left: 8%;
      }
    }

    @keyframes walkingZora-Franco {
      0% {
        top: 86%;
        left: 8%;
      }
      5.88% {
        top: 92%;
        left: 11%;
      }
      11.76% {
        top: 97%;
        left: 18%;
      }
      23.53% {
        top: 98%;
        left: 47%;
      }
      35.29% {
        top: 96%;
        left: 78%;
      }
      47.06% {
        top: 89%;
        left: 102%;
      }
      52.94% {
        top: 83%;
        left: 105%;
      }
      94.12% {
        top: 41%;
        left: 90%;
      }
      100% {
        top: 34%;
        left: 91%;
      }
    }
  }

  .crazyfish {
    position: absolute;
    width: 18%;
    visibility: hidden;
    z-index: 5;
  }

  .crazyfishStopAnimation {
    visibility: visible;
    top: 21%;
    left: 10%;
  }

  .crazyfish0 {
    animation: crazyfish0Animation 1.3s linear;
  }

  //bottom to top
  @keyframes crazyfish0Animation {
    0% {
      transform: scaleX(-1);
      visibility: visible;
      top: 100%;
      left: 86%;
    }
    100% {
      transform: scaleX(-1);
      top: 0;
      left: 53%;
    }
  }

  .crazyfish1 {
    animation: crazyfish1Animation 1.6s linear;
  }

  //right to right
  @keyframes crazyfish1Animation {
    0% {
      transform: scaleX(-1);
      visibility: visible;
      left: 90%;
      top: 62%;
    }
    49% {
      transform: scaleX(-1);
    }
    50% {
      transform: scaleX(1);
      top: 10%;
      left: 20%;
    }
    100% {
      transform: scaleX(1);
      top: 10%;
      left: 90%;
    }
  }

  .crazyfish2 {
    animation: crazyfish2Animation 1.4s linear;
  }

  //top to bottom
  @keyframes crazyfish2Animation {
    0% {
      transform: scaleX(-1);
      visibility: visible;
      top: 0;
      left: 53%;
    }
    100% {
      transform: scaleX(-1);
      top: 100%;
      left: 40%;
    }
  }

  .crazyfish3 {
    animation: crazyfish3Animation 1s linear;
  }

  //left to right
  @keyframes crazyfish3Animation {
    0% {
      visibility: visible;
      top: 70%;
      left: -10%;
    }
    100% {
      top: 55%;
      left: 96%;
    }
  }

  .crazyfish4 {
    animation: crazyfish4Animation 1s linear;
  }

  //right to left
  @keyframes crazyfish4Animation {
    0% {
      transform: scaleX(-1);
      visibility: visible;
      top: 5%;
      left: 96%;
    }
    100% {
      transform: scaleX(-1);
      top: 53%;
      left: -12%;
    }
  }

  @keyframes fishgroupAnimation {
    0% {
      top: 65%;
      left: 25%;
    }
    48% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
      top: 62%;
      left: 61%;
    }
    98% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
      top: 65%;
      left: 25%;
    }
  }

  @keyframes bubbleAnimation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

