<svg-icon src="\assets\sprites\Room\5-recruiting\Fishgroup.svg" class="fishgroup"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Jellyfish.svg" class="jellyfish"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Granit.svg" class="granit"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Franco.svg" (click)="francoClick()" class="franco"></svg-icon>
<svg-icon #submarine src="\assets\sprites\Room\5-recruiting\Submarine.svg" (click)="submarineClick()" class="submarine"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Fishgroup2.svg" class="fishgroup2"></svg-icon>
<svg-icon #zora src="\assets\sprites\Room\5-recruiting\Zora.svg" (click)="zoraClick()" class="zora"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Seestern-gross.svg" (click)="starClick()" class="star1"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-recruiting\Seestern-klein.svg" class="star2"></svg-icon>

<svg-icon #crazyfish src="\assets\sprites\Room\5-recruiting\Crazy-Fish.svg" (click)="crazyfishClick()" class="crazyfish"></svg-icon>
