
:host {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

  .frage {
    display: flex;
    flex-direction: column;

    .icon {
      display:flex;
      justify-content: center;
    }

    .coin {
      width: 30%;
    }

    .titel {
      text-align: center;
      margin-bottom: .5rem;
    }

    .password {
      margin-bottom: .5rem;
      display: flex;
    }

    .check-answer {
      margin: auto;
    }
  }
}
