@import 'colors';
@import 'rooms';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

//base
html, body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: calc(4.266666667 * var(--cw));
}

html {
  height: calc(100 * var(--vh));
  width: calc(100 * var(--vw));
  display: flex;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

//texts
h1 {
  font-size: calc(4.923 * var(--cw));
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

h2 {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

button {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

//inputs
.input-field {
  background-color: transparent;
  border-radius: 0.2em;
  border: solid 0.2em #000000;
  height: 2rem;
  padding-left: .5rem;
}

@media (min-aspect-ratio: 9/20) {
  html, body {
    font-size: calc(1.970 * var(--ch));
  }

  h1 {
    font-size: calc(2.8325 * var(--ch));
  }
}

//angular material design for modal dialog
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.cdk-global-scrollblock {
  overflow-y: initial;
}

