@import 'colors';
@import 'rooms';

//base
html, body {
  font-family: 'Rubik', sans-serif;
  font-size: 4.266666667vw;
}

html {
  height: 100vh;
  width: 100vw;
  display: flex;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

//texts
h1 {
  font-size: 4.923vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

h2 {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

//inputs
.input-field {
  background-color: transparent;
  border-radius: 0.2em;
  border: solid 0.2em #000000;
}

@media (min-aspect-ratio: 9/20) {
  html, body {
    font-size: 1.970vh;
  }

  h1 {
    font-size: 2.8325vh;
  }
}
