@import "colors";

//base

html {
  height: 100vh;
  width: 100vw;
  display: flex;
}

body {
  margin: 0;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

//texts
h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.text-big {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

//buttons
.btn {
  width: 118px;
  height: 29px;
  border-radius: 2px;
  border: solid 2px #000000;
  background-color: $beige;
}

//overlay card
.card {
  width: 313px;
  height: 374px;
  border-radius: 12px;
  border: solid 2px #000000;
  background-color: #ffffff;
}
