$beige: #e0d0b5;
$lichen: #92aa83;
$cloudy-blue: #aec6cf;
$light-grey-blue: #afb4bb;
$maize: #f0bc5e;
$pale-salmon: #e5c5b7;
$very-light-pink: #f8ebeb;
$pale: #f0e7da;
$blush: #e0baa3;
$dusty-red: #ba494c;
$light-peach: #e5cbc0;
$pale-teal: #a5b4b3;
$light-grey: #e3e4e0;
$pale-purple: #b6a6b9;

