.card {
  width: 80%;
  height: 50%;
  border-radius: 12px;
  border: solid 2px #000000;
  background-color: #ffffff;

  display: block;
  margin-left: auto;
  margin-right: auto;

  .title {
    text-align: center;
    margin-top: 10%;
    height: 19px;
  }
}
