:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .fire {
    position: absolute;
    width: 45%;
    top: 42%;
    left: 7%;
  }

  .tent {
    position: absolute;
    width: 40%;
    top: 60%;
    left: 65%;
  }

  .tree {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 13%;
    left: 85%;
  }

  .tree1 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 3%;
    left: 52%;
  }

  .tree2 {
    position: absolute;
    width: 15%;
    top: 8%;
    left: 70%;
    z-index: 9;

    &.no-click {
      pointer-events: none;
    }
  }

  .tree3 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 17%;
    left: 23%;
  }

  .tree4 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 22%;
    left: 42%;
  }

  .treeGroup {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 82%;
    left: 53%;
  }

  .urs {
    position: absolute;
    width: 14%;
    top: 42%;
    left: 52%;
  }

  .petra {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 5%;
  }

  .ueli {
    position: absolute;
    width: 10%;
    top: 8%;
    left: 77%;
    z-index: 8;
    transform: rotate(20deg);
    animation: ueliAnimation 1s linear;
  }

  app-avatar {
    position: absolute;
    top: 34%;
    left: -4%;

    &.pos-ueli {
      top: 23%;
      left: 63%;
    }

    &.pos-urs {
      top: 58%;
      left: 75%;
    }

    &.pos-petra {
      top: 86.5%;
      left: 34%;
    }

    $doorUeliDuration: 1.27s;
    $ueliUrsDuration: 1.45s;
    $ursPetraDuration: 1.27s;

    &.walk-door-ueli {
      animation: walkingDoor-Ueli $doorUeliDuration linear;
    }

    &.walk-door-urs {
      animation: walkingDoor-Ueli $doorUeliDuration linear, walkingUeli-Urs $ueliUrsDuration $doorUeliDuration linear;
    }

    &.walk-door-petra {
      animation: walkingDoor-Ueli $doorUeliDuration linear, walkingUeli-Urs $ueliUrsDuration $doorUeliDuration linear, walkingUrs-Petra $ursPetraDuration calc(#{$doorUeliDuration} + #{$ueliUrsDuration}) linear;
    }

    &.walk-ueli-door {
      animation: walkingDoor-Ueli $doorUeliDuration reverse linear;
    }

    &.walk-ueli-urs {
      animation: walkingUeli-Urs $ueliUrsDuration linear;
    }

    &.walk-ueli-petra {
      animation: walkingUeli-Urs $ueliUrsDuration linear, walkingDoor-Ueli $doorUeliDuration $ueliUrsDuration linear;
    }

    &.walk-urs-door {
      animation: walkingUeli-Urs $ueliUrsDuration reverse linear, walkingDoor-Ueli $doorUeliDuration $ueliUrsDuration reverse linear;
    }

    &.walk-urs-ueli {
      animation: walkingUeli-Urs $ueliUrsDuration reverse linear;
    }

    &.walk-urs-petra {
      animation: walkingUrs-Petra $ursPetraDuration linear;
    }

    &.walk-petra-door {
      animation: walkingUrs-Petra $ursPetraDuration reverse linear, walkingUeli-Urs $ueliUrsDuration $ursPetraDuration reverse linear, walkingDoor-Ueli $doorUeliDuration calc(#{$ursPetraDuration} + #{$ueliUrsDuration}) reverse linear;
    }

    &.walk-petra-ueli {
      animation: walkingUrs-Petra $ursPetraDuration reverse linear, walkingUeli-Urs $ueliUrsDuration $ursPetraDuration reverse linear;
    }

    &.walk-petra-urs {
      animation: walkingUrs-Petra $ursPetraDuration reverse linear;
    }

    @keyframes walkingDoor-Ueli {
      0% {
        top: 34%;
        left: -4%;
      }
      56.34% {
        top: 11%;
        left: 18%;
      }
      100% {
        top: 23%;
        left: 63%;
      }
    }

    @keyframes walkingUeli-Urs {
      0% {
        top: 23%;
        left: 63%;
      }
      50% {
        top: 39%;
        left: 101%;
      }
      62% {
        top: 45%;
        left: 106%;
      }
      75% {
        top: 51%;
        left: 97%;
      }
      100% {
        top: 58%;
        left: 75%;
      }
    }

    @keyframes walkingUrs-Petra {
      0% {
        top: 58%;
        left: 75%;
      }
      42.9% {
        top: 68%;
        left: 38%;
      }
      57.14% {
        top: 75%;
        left: 38%;
      }
      78.57% {
        top: 83%;
        left: 48%;
      }
      85.71% {
        top: 86%;
        left: 46%;
      }
      100% {
        top: 86.5%;
        left: 34%;
      }
    }
  }

  .schnecke {
    position: absolute;
    width: 14%;
    top: 91%;
    left: 31%;
    animation: schneckeAnimation 60s linear infinite;
    animation-delay: 5s;
  }

  @keyframes schneckeAnimation {
    0% {
      top: 91%;
      left: 31%;
    }
    48% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
      top: 91%;
      left: 85%;
    }
    98% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
      top: 91%;
      left: 31%;
    }
  }

  @keyframes ueliAnimation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

}
