:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .fire {
    position: absolute;
    width: 45%;
    top: 42%;
    left: 7%;
  }

  .tent {
    position: absolute;
    width: 40%;
    top: 60%;
    left: 65%;
  }

  .tree {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 13%;
    left: 85%;
  }

  .tree1 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 3%;
    left: 52%;
  }

  .tree2 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 8%;
    left: 70%;
  }

  .tree3 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 17%;
    left: 23%;
  }

  .tree4 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 22%;
    left: 42%;
  }

  .treeGroup {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 82%;
    left: 53%;
  }
}
