:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .fire {
    position: absolute;
    width: 45%;
    top: 42%;
    left: 7%;
  }

  .tent {
    position: absolute;
    width: 40%;
    top: 60%;
    left: 65%;
  }

  .tree {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 13%;
    left: 85%;
  }

  .tree1 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 3%;
    left: 52%;
  }

  .tree2 {
    position: absolute;
    width: 15%;
    top: 8%;
    left: 70%;
    z-index: 9;

    &.no-click {
      pointer-events: none;
    }
  }

  .tree3 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 17%;
    left: 23%;
  }

  .tree4 {
    pointer-events: none;
    position: absolute;
    width: 15%;
    top: 22%;
    left: 42%;
  }

  .treeGroup {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 82%;
    left: 53%;
  }

  .urs {
    position: absolute;
    width: 14%;
    top: 42%;
    left: 52%;
  }

  .petra {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 5%;
  }

  .ueli {
    position: absolute;
    width: 10%;
    top: 8%;
    left: 77%;
    z-index: 8;
    transform: rotate(20deg);
  }

  .avatar {
    pointer-events: none;
    position: absolute;
    width: 10%;
    top: 28%;
    left: -5%;
    z-index: 10;
  }

  .schnecke {
    position: absolute;
    width: 14%;
    top: 91%;
    left: 31%;
  }
}
