
:host {
  display: flex;
  flex: 1 0 auto;

  .frage {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;

    .question-icon {
      display: flex;
      justify-content: center;

      svg-icon {
        width: 2rem;
      }
    }

    .answer-wrong {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;

      svg-icon {
        width: 2rem;
      }
    }

    .quizfrage {
      margin: 1rem 0;
    }

    .answer-field {
      margin-bottom: 0.75rem;
      display: flex;
      height: 1.5rem;
      padding: 0.5rem;
    }

    .check-answer {

      ::ng-deep button {
        height: 3rem;
      }
    }
  }
}
