<div class="frage">
  <div class="answer-status" *ngIf="answer">
    <svg-icon *ngIf="!answer.correct" [src]="'/assets/sprites/Icon/Cross.svg'"></svg-icon>
    <svg-icon *ngIf="answer.correct" [src]="'/assets/sprites/Icon/Tick.svg'"></svg-icon>
  </div>
  <div class="quizfrage">{{question.questionText}}</div>
  <input type="text" class="input-field answer-field" [(ngModel)]="answerGiven"/>
  <app-button class="check-answer" [btnTitle]="'prüfen'" (btnClicked)="validateAnswer()"></app-button>
</div>
