
:host {
  display: flex;
  flex: 1 0 auto;

  .frage {
    display: flex;
    flex-direction: column;

    .answer-status {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;

      svg-icon {
        width: 2rem;
      }
    }

    .quizfrage {
      margin-bottom: 1rem;
    }

    .answer-field {
      margin-bottom: 0.75rem;
      display: flex;
      height: 1.5rem;
      padding: 0.5rem;
    }

    .check-answer {

      ::ng-deep button {
        height: 3rem;
      }
    }
  }
}
