<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Satellit.svg" class="satelite"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Planets.svg" class="planets"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Planet.svg" class="planet"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Stars.svg" class="stars1"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Stars2.svg" class="stars2"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Sternbild.svg" class="star-constellation"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Teleskop.svg" class="telescope"></svg-icon>
