<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Satellit.svg" (click)="openQuestion(room.mandatoryQuestion)" class="satelite"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Planets.svg" class="planets"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Planet.svg" class="planet"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Stars.svg" class="stars1"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Stars2.svg" class="stars2"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Sternbild.svg" (click)="openQuestion(room.optionalQuestions[0])" class="star-constellation"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-develop-and-testing\Teleskop.svg" (click)="openQuestion(room.optionalQuestions[1])" class="telescope"></svg-icon>
