:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .satelite {
    pointer-events: none;
    position: absolute;
    width: 32%;
    top: 1%;
    left: 70%;
  }

  .planets {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 13%;
    left: 23%;
  }

  .planet {
    position: absolute;
    width: 30%;
    top: 38%;
    left: 13%;

    &.grow1 {
      animation: planetAnimationStep1 ease-in 0.4s forwards;
    }
    &.grow2 {
      animation: planetAnimationStep2 ease-in 0.4s forwards;
    }
    &.grow3 {
      animation: planetAnimationStep3 ease-in 0.4s forwards;
    }
  }

  .stars1 {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 60%;
    left: 8%;

    &.gross1 {
      pointer-events: all;
      width: 12%;
      left: 10%;
      top: 66%;
    }
    &.gross2 {
      pointer-events: all;
      width: 12%;
      top: 61.5%;
      left: 39%;
    }
  }

  .stars2 {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 26%;
    left: 70%;

    &.gross1 {
      pointer-events: all;
      width: 14%;
      left: 74%;
      top: 32%;
    }
    &.gross2 {
      pointer-events: all;
      width: 11%;
      top: 30%;
      left: 90%;
    }
  }

  .star-constellation {
    pointer-events: none;
    position: absolute;
    width: 32%;
    top: 64%;
    left: 63%;
  }

  .telescope {
    pointer-events: none;
    position: absolute;
    width: 31%;
    top: 76%;
    left: 26%;
  }

  .katrin {
    position: absolute;
    width: 16%;
    left: 6%;
    bottom: 4%;
  }
}

@keyframes planetAnimationStep1 {
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  90% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    transform:  scaleX(1.30) scaleY(1.30) ;
  }
}

@keyframes planetAnimationStep2 {
  0% {
    transform:  scaleX(1.30) scaleY(1.30) ;
  }
  90% {
    transform:  scaleX(1.70) scaleY(1.70) ;
  }
  100% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

@keyframes planetAnimationStep3 {
  0% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
  90% {
    transform:  scaleX(1.90) scaleY(1.90) ;
  }
  100% {
    transform:  scaleX(1.70) scaleY(1.70) ;
  }
}

