:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .satelite {
    position: absolute;
    width: 32%;
    top: 1%;
    left: 70%;
    animation: sateliteSpin 60s linear infinite;
  }

  .planets {
    position: absolute;
    width: 30%;
    top: 13%;
    left: 23%;
  }

  .alien {
    pointer-events: none;
    position: absolute;
    width: 12%;
    top: 19.6%;
    left: 27.1%;
    opacity: 0;

    &.animation-0 {
      --rotation: 100deg;
      --translateY: -99%;
      animation: giggling 1.5s 1 ease-in-out;
    }

    &.animation-1 {
      --rotation: 150deg;
      --translateY: -99%;
      animation: giggling 1.5s 1 ease-in-out;
    }

    &.animation-2 {
      --rotation: 200deg;
      --translateY: -99%;
      animation: giggling 1.5s 1 ease-in-out;
    }

    &.animation-3 {
      --rotation: 250deg;
      --translateY: -96%;
      animation: giggling 1.5s 1 ease-in-out;
    }

    &.animation-4 {
      --rotation: 330deg;
      --translateY: -94%;
      animation: giggling 1.5s 1 ease-in-out;
    }

    @keyframes giggling {
      0% {
        transform: rotate(var(--rotation)) translateY(0%);
        opacity: 0;
      }
      1% {
        opacity: 1;
      }
      30% {
        transform: rotate(var(--rotation)) translateY(var(--translateY));
      }
      40% {
        transform: rotate(var(--rotation)) translateY(var(--translateY)) skew(5deg);
      }
      50% {
        transform: rotate(var(--rotation)) translateY(var(--translateY)) skew(-5deg);
      }
      60% {
        transform: rotate(var(--rotation)) translateY(var(--translateY)) skew(5deg);
      }
      70% {
        transform: rotate(var(--rotation)) translateY(var(--translateY)) skew(0);
      }
      99% {
        opacity: 1;
      }
      100% {
        transform: rotate(var(--rotation)) translateY(0%);
        opacity: 0;
      }
    }
  }

  .planet {
    position: absolute;
    width: 30%;
    top: 38%;
    left: 13%;

    &.grow1 {
      animation: planetAnimationStep1 ease-in 0.4s forwards;
    }

    &.grow2 {
      animation: planetAnimationStep2 ease-in 0.4s forwards;
    }

    &.grow3 {
      animation: planetAnimationStep3 ease-in 0.4s forwards;
    }
  }

  // small stars extension
  %star-plus {
    pointer-events: none;
    position: absolute;
    width: 4%;
  }

  .stars-klein-links {
    pointer-events: none;
    position: absolute;
    width: 30%;
    top: 60%;
    left: 8%;

    &.gross1 {
      pointer-events: all;
      width: 12%;
      left: 10%;
      top: 66%;
      animation: starAnimation 1s linear;
    }

    &.gross2 {
      pointer-events: all;
      width: 12%;
      top: 61.5%;
      left: 39%;
      animation: starAnimation 1s linear;
    }
  }

  //small stars left side
  .star-plus-left1 {
    @extend %star-plus;
    top: 64.5%;
    left: 23%;
    animation: starPlusAnimation 2.3s infinite;
  }

  .star-plus-left2 {
    @extend %star-plus;
    top: 60%;
    left: 18%;
    animation: starPlusAnimation 3.1s infinite;
  }

  .star-plus-left3 {
    @extend %star-plus;
    top: 62.8%;
    left: 14%;
    animation: starPlusAnimation 2.8s infinite;
  }

  .star-plus-left4 {
    @extend %star-plus;
    top: 60%;
    left: 33%;
    animation: starPlusAnimation 2.4s infinite;
  }

  .star-plus-left5 {
    @extend %star-plus;
    top: 64%;
    left: 36%;
    animation: starPlusAnimation 3.3s infinite;
  }


  //small stars right side
  .star-plus-right1 {
    @extend %star-plus;
    top: 29.4%;
    left: 83%;
    animation: starPlusAnimation 3s infinite;
  }

  .star-plus-right2 {
    @extend %star-plus;
    top: 34%;
    left: 89%;
    animation: starPlusAnimation 3.5s infinite;
  }

  .star-plus-right3 {
    @extend %star-plus;
    top: 36%;
    left: 96%;
    animation: starPlusAnimation 2.5s infinite;
  }

  .star-plus-right4 {
    @extend %star-plus;
    top: 33%;
    left: 100%;
    animation: starPlusAnimation 2.2s infinite;
  }

  .star-plus-right5 {
    @extend %star-plus;
    top: 27%;
    left: 97%;
    animation: starPlusAnimation 2.4s infinite;
  }

  .stars-klein-rechts {
    pointer-events: none;
    position: absolute;
    width: 8%;
    top: 27%;
    left: 86%;

    &.gross1 {
      pointer-events: all;
      width: 14%;
      left: 74%;
      top: 32%;
      animation: starAnimation 1s linear;
    }

    &.gross2 {
      pointer-events: all;
      width: 11%;
      top: 30%;
      left: 90%;
      animation: starAnimation 1s linear;
    }
  }

  .star-constellation {
    position: absolute;
    width: 32%;
    top: 64%;
    left: 63%;

    &.rotate-0 {
      transform: rotate(0deg);
    }

    &.rotate-40 {
      transform: rotate(40deg);
    }

    &.rotate-80 {
      transform: rotate(80deg);
    }

    &.rotate-120 {
      transform: rotate(120deg);
    }

    &.rotate-160 {
      transform: rotate(160deg);
    }

    &.rotate-200 {
      transform: rotate(200deg);
    }

    &.rotate-240 {
      transform: rotate(240deg);
    }

    &.rotate-280 {
      transform: rotate(280deg);
    }

    &.rotate-320 {
      transform: rotate(320deg);
    }
  }

  .telescope {
    position: absolute;
    width: 31%;
    top: 76%;
    left: 26%;

    &.inverted {
      transform: scaleX(-1);
    }
  }

  .katrin {
    position: absolute;
    width: 16%;
    left: 6%;
    bottom: 4%;
  }
}

@keyframes planetAnimationStep1 {
  0% {
    transform: scaleX(1.00) scaleY(1.00);
  }
  90% {
    transform: scaleX(1.50) scaleY(1.50);
  }
  100% {
    transform: scaleX(1.30) scaleY(1.30);
  }
}

@keyframes planetAnimationStep2 {
  0% {
    transform: scaleX(1.30) scaleY(1.30);
  }
  90% {
    transform: scaleX(1.70) scaleY(1.70);
  }
  100% {
    transform: scaleX(1.50) scaleY(1.50);
  }
}

@keyframes planetAnimationStep3 {
  0% {
    transform: scaleX(1.50) scaleY(1.50);
  }
  90% {
    transform: scaleX(1.90) scaleY(1.90);
  }
  100% {
    transform: scaleX(1.70) scaleY(1.70);
  }
}

@keyframes sateliteSpin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes starPlusAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}

@keyframes starAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

