<div *ngIf="!loadingProgress && !progressAvailable">
  <!-- ersetzen durch eine welcome-component -->
  WILLKOMMEN, SIE SIND NEU HIER! STARTEN?<br/>
  <button (click)="startGame()">GAME STARTEN</button>
</div>
<div class="game-is_running" *ngIf="!loadingProgress && progressAvailable">
  <button [disabled]="!room.isUnlocked" (click)="activateRoom(room)" *ngFor="let room of game.rooms">
    open {{room.name}}</button>
  <app-map></app-map>
  <app-room [roomColor]="activeRoomColor" *ngIf="activeRoomColor" (onClose)="activeRoomColor = ''">
    <app-quiz-room></app-quiz-room>
  </app-room>
</div>
<div *ngIf="loadingProgress">
  <!-- Evtl. wird es nicht gebraucht, da es sehr schnell und nie sichtbar ist. Sonst schön machen! -->
  LOADING!!!!!!!!!
</div>

