
:host {
  display: flex;
  position: relative;

  .app-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    background-color: var(--room-color);
  }

  .game-is_running {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .room-enter-leave-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100 * var(--vh));
    width: calc(100 * var(--vw));
    background-color: transparent;
    pointer-events: none;

    &.animation {
      pointer-events: initial;
      animation: black-animation 1s 1 ease-in-out, transparent-animation 1s 1s 1 ease-in-out;

      @keyframes black-animation {
        0% {
          background-color: transparent;
        }
        100% {
          background-color: black;
        }
      }

      @keyframes transparent-animation {
        0% {
          background-color: black;
        }
        100% {
          background-color: transparent;
        }
      }
    }
  }

  @media (max-aspect-ratio: 9/20) {
    height: calc((100 * var(--vw)) / 9 * 20);
    width: calc(100 * var(--vw));
  }

  /* Maximum aspect ratio */
  @media (min-aspect-ratio: 9/20) {
    height: calc(100 * var(--vh));
    width: calc((100 * var(--vh)) / 20 * 9);
  }
}
