
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  app-avatar {
    top: 39%;
    left: -3%;

    &.pos-reto {
      top: 51%;
      left: 25%;
    }

    &.pos-marie {
      top: 95%;
      left: 80%;
    }

    $doorRetoDuration: 2.08s;
    $retoMarieDuration: 1.92s;

    &.walk-door-reto {
      animation: walkingDoor-Reto $doorRetoDuration linear;
    }

    &.walk-door-marie {
      animation: walkingDoor-Reto $doorRetoDuration linear, walkingReto-Marie $retoMarieDuration $doorRetoDuration linear;
    }

    &.walk-reto-marie {
      animation: walkingReto-Marie $retoMarieDuration linear;
    }

    &.walk-reto-door {
      animation: walkingDoor-Reto $doorRetoDuration reverse linear;
    }

    &.walk-marie-reto {
      animation: walkingReto-Marie $retoMarieDuration reverse linear;
    }

    &.walk-marie-door {
      animation: walkingReto-Marie $retoMarieDuration reverse linear, walkingDoor-Reto $doorRetoDuration $retoMarieDuration reverse linear;
    }

    @keyframes walkingDoor-Reto {
      0% {
        top: 39%;
        left: -3%;
      }
      35.7% {
        top: 37%;
        left: 70%;
      }
      50% {
        top: 40%;
        left: 96%;
      }
      62.9% {
        top: 51%;
        left: 103%;
      }
      72.9% {
        top: 56%;
        left: 81%;
      }
      97.1% {
        top: 49%;
        left: 37%;
      }
      100% {
        top: 51%;
        left: 25%;
      }
    }

    @keyframes walkingReto-Marie {
      0% {
        top: 51%;
        left: 25%;
      }
      23.1% {
        top: 64%;
        left: 6%;
      }
      46.2% {
        top: 82%;
        left: 3%;
      }
      60% {
        top: 92%;
        left: 9%;
      }
      69.2% {
        top: 98%;
        left: 22%;
      }
      84.6% {
        top: 99%;
        left: 51%;
      }
      100% {
        top: 95%;
        left: 80%;
      }
    }
  }

  .airplane1 {
    position: absolute;
    pointer-events: none;
    width: 22%;

    border-radius: 50%;
    opacity: 0;
    animation: airplane1Animation 9s 4s linear infinite;
  }

  .airplane2 {
    position: absolute;
    width: 20%;

    border-radius: 50%;
    animation: airplane2Animation 9s linear infinite;
  }

  .airport {
    position: absolute;
    right: 30%;
    width: 48%;
    bottom: 7%;
  }

  .cloud1 {
    position: absolute;
    width: 13%;
    left: 46%;
    top: 8%;

    animation: moveCloud1 70s linear infinite;
  }

  .cloud2 {
    position: absolute;
    pointer-events: none;
    left: 17%;
    top: 6%;
    width: 14%;

    animation: moveCloud2 60s linear infinite;
  }

  .cloud3 {
    position: absolute;
    pointer-events: none;
    top: 61%;
    left: 51%;
    width: 13%;
  }

  .cloud4 {
    position: absolute;
    pointer-events: none;
    left: 84%;
    top: 60%;
    width: 13%;
  }

  .cloud5 {
    position: absolute;
    pointer-events: none;
    width: 13%;
    top: 65%;
    left: 72%;
  }

  .houses {
    position: absolute;
    top: 12%;
    width: 86%;
    right: -2%;
  }

  .info-woman {
    position: absolute;
    bottom: 6%;
    width: 11%;
    right: -1%;
  }

  .passenger {
    position: absolute;
    bottom: 47%;
    width: 11%;
    right: 87%;
  }

  @keyframes moveCloud1 {
    0% {
      left: 46%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 46%;
    }
  }

  @keyframes moveCloud2 {
    0% {
      left: 17%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 17%;
    }
  }

  @keyframes airplane1Animation {
    0% {
      top: 75%;
      left: 25%;
      opacity: 0;
      transform: rotate(120deg);
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      top: 65%;
      left: 90%;
      opacity: 0;
      transform: rotate(115deg);
    }
  }

  @keyframes airplane2Animation {
    0% {
      top: 75%;
      left: 25%;
      opacity: 0;
      transform: rotate(10deg);
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      top: 50%;
      left: 90%;
      opacity: 0;
      transform: rotate(10deg);
    }
  }
}
