<svg-icon
  class="airport"
  src="/assets/sprites/Room/1-welt-der-informatik/Airport.svg">
</svg-icon>
<svg-icon
  class="cloud1"
  src="/assets/sprites/Room/1-welt-der-informatik/Cloud1.svg">
</svg-icon>
<svg-icon
  class="cloud2"
  src="/assets/sprites/Room/1-welt-der-informatik/Cloud2.svg">
</svg-icon>
<svg-icon
  class="cloud3"
  src="/assets/sprites/Room/1-welt-der-informatik/Cloud3.svg">
</svg-icon>
<svg-icon
  class="cloud4"
  src="/assets/sprites/Room/1-welt-der-informatik/Cloud4.svg">
</svg-icon>
<svg-icon
  class="cloud5"
  src="/assets/sprites/Room/1-welt-der-informatik/Cloud5.svg">
</svg-icon>
<svg-icon
  class="houses"
  src="/assets/sprites/Room/1-welt-der-informatik/Houses.svg"
  (click)="openInfo('room1houses', '/assets/sprites/Room/1-welt-der-informatik/Houses.svg')">
</svg-icon>
<svg-icon
  class="passenger"
  src="/assets/sprites/Room/1-welt-der-informatik/Reto.svg" (click)="onRetoTab()">
</svg-icon>
<svg-icon
  class="info-woman"
  src="/assets/sprites/Room/1-welt-der-informatik/Marie.svg"
  (click)="onMarieTab()">
</svg-icon>
<svg-icon
  class="airplane1"
  src="/assets/sprites/Room/1-welt-der-informatik/Airplane.svg"
  (click)="onPlaneTab()">
</svg-icon>
<svg-icon
  class="airplane2"
  src="/assets/sprites/Room/1-welt-der-informatik/Airplane2.svg"
  (click)="onPlaneTab()">
</svg-icon>
<app-avatar [avatarType]="progress.avatarType"></app-avatar>
