
:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;

  .airplane1 {
    position: absolute;
    pointer-events: none;
    width: 22%;

    border-radius: 50%;
    animation: airplane1Animation 10s linear infinite;
  }

  .airplane2 {
    position: absolute;
    width: 20%;

    border-radius: 50%;
    animation: airplane2Animation 10s linear infinite;
  }

  .airport {
    position: absolute;
    right: 30%;
    width: 48%;
    bottom: 7%;
  }

  .cloud1 {
    position: absolute;
    width: 13%;
    left: 46%;
    top: 8%;
  }

  .cloud2 {
    position: absolute;
    pointer-events: none;
    left: 17%;
    top: 6%;
    width: 14%;

  }

  .cloud3 {
    position: absolute;
    pointer-events: none;
    top: 61%;
    left: 51%;
    width: 13%;
  }

  .cloud4 {
    position: absolute;
    pointer-events: none;
    left: 84%;
    top: 60%;
    width: 13%;
  }

  .cloud5 {
    position: absolute;
    pointer-events: none;
    width: 13%;
    top: 65%;
    left: 72%;
  }

  .houses {
    position: absolute;
    pointer-events: none;
    top: 12%;
    width: 86%;
    right: -2%;
  }

  .info-woman {
    position: absolute;
    bottom: 6%;
    width: 11%;
    right: -1%;
  }

  .passenger {
    position: absolute;
    bottom: 64%;
    width: 11%;
    right: 87%;
  }

  .wrapperAirplane1 {
    width: 80%;
    pointer-events: none;
    position: absolute;
    left: 20%;
    bottom: 50%;
    z-index: 10;

    animation: wrapperAirplane1Animation 60s linear infinite;
  }

  @keyframes wrapperAirplane1Animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  @keyframes airplane1Animation {
    0% {
      transform: rotate(40deg);
    }
    10% {
      transform: rotate(40deg);
    }
    15% {
      transform: rotate(40deg);
    }
    20% {
      transform: rotate(40deg);
    }
    30% {
      transform: rotate(40deg);
    }
    40% {
      transform: rotate(40deg);
    }
    45% {
      transform: rotate(40deg);
    }
    50% {
      transform: rotate(40deg);
    }
    60% {
      transform: rotate(40deg);
    }
    70% {
      transform: rotate(40deg);
         }
    80% {
      transform: rotate(40deg);
    }
    90% {
      transform: rotate(40deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  .wrapperAirplane2 {
    width: 80%;
    pointer-events: none;
    position: absolute;
top: 85%;
       left: 5%;
              z-index: 10;

animation: wrapperAirplane2Animation 60s linear infinite;
}

@keyframes wrapperAirplane2Animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes airplane2Animation {
  0% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(60deg);
  }
  20% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(40deg);
  }
  45% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(40deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
}
