<div class="room room-{{room.color}}">

  <div class="bg-street" (click)="closeRoom()">
    <svg-icon src="/assets/sprites/Icon/Room/Street.svg" [svgStyle]="{'height': '100%'}" class="stretch-street"></svg-icon>
  </div>

  <div class="bg-rectangle">

    <div class="room-credits">
      <svg-icon src="/assets/sprites/Room/Credits/Coin-Border.svg" [svgStyle]="{'width': '100%'}"></svg-icon>
      <div class="credits">
        <svg-icon class="key-credit" *ngIf="!room.keyCollected" src="/assets/sprites/Room/Credits/Key-inactive.svg"></svg-icon>
        <svg-icon class="key-credit" *ngIf="room.keyCollected" src="/assets/sprites/Room/Credits/Key-active.svg"></svg-icon>

        <div class="coin-credit" *ngFor="let optQuest of optionalQuestions">
          <svg-icon *ngIf="room.coinsCollected >= optQuest" src="/assets/sprites/Room/Credits/Coin-active.svg"></svg-icon>
          <svg-icon *ngIf="room.coinsCollected < optQuest" src="/assets/sprites/Room/Credits/Coin-inactive.svg"></svg-icon>
        </div>
      </div>

    </div>

    <svg-icon class="map-nav" src="/assets/sprites/Icon/Room/Map-Nav.svg" [svgStyle]="{'height': '100%'}" (click)="closeRoom()"></svg-icon>

    <svg-icon class="room-bg" src="/assets/sprites/Background/Room.svg" [svgStyle]="{'width': '100%'}"></svg-icon>

    <div class="room-content">
      <button *ngFor="let question of room.questions" (click)="openQuestion(question)">{{question.number}}</button>
      <ng-content></ng-content>
    </div>
  </div>

</div>

