<div class="room {{room.roomClass}}">

  <div class="bg-street">
    <svg-icon src="/assets/sprites/Icon/Room/Street-Room-{{room.level}}.svg" [svgStyle]="{'height': '100%', 'width': '100%'}"></svg-icon>
  </div>
  <div class="main-street-layer" (click)="onStreetMapTap()"></div>

  <div class="bg-rectangle">

    <svg-icon class="map-nav" src="/assets/sprites/Icon/Room/Map-Nav.svg" (click)="onStreetMapTap()"></svg-icon>

    <div class="room-credits">
      <svg-icon src="/assets/sprites/Room/Credits/coin-border.svg"></svg-icon>
      <div class="credits">
        <svg-icon class="key-credit" *ngIf="!room.keyCollected"
                  src="/assets/sprites/Room/Credits/Key-inactive.svg"></svg-icon>
        <svg-icon class="key-credit" *ngIf="room.keyCollected"
                  src="/assets/sprites/Room/Credits/Key-active.svg"></svg-icon>

        <div class="coin-credit" *ngFor="let optQuest of optionalQuestions">
          <svg-icon *ngIf="room.coinsCollected >= optQuest"
                    src="/assets/sprites/Room/Credits/Coin-active.svg"></svg-icon>
          <svg-icon *ngIf="room.coinsCollected < optQuest"
                    src="/assets/sprites/Room/Credits/Coin-inactive.svg"></svg-icon>
        </div>
      </div>

    </div>

    <svg-icon class="room-bg" src="/assets/sprites/Background/Room.svg"></svg-icon>

    <div class="room-content">
      <ng-content></ng-content>
    </div>
  </div>

</div>

