<div class="room room-{{room.color}}">
  <div class="bg-street" (click)="closeRoom()">
    <svg-icon src="/assets/sprites/Icon/Room/Street.svg" [svgStyle]="{'height': '100%'}"
              class="stretch-street"></svg-icon>
  </div>
  <div class="bg-rectangle">
    <svg-icon class="map-nav" src="/assets/sprites/Icon/Room/Map-Nav.svg" [svgStyle]="{'height': '100%'}"
              (click)="closeRoom()"></svg-icon>
    <svg-icon src="/assets/sprites/Background/Room.svg" [svgStyle]="{'width': '100%'}" class="stretch-bg"></svg-icon>

    <div class="room-content">
      <button *ngFor="let question of room.questions" (click)="openQuestion(question)">{{question.number}}</button>
      <ng-content></ng-content>
    </div>
  </div>

</div>

