:host {
  z-index: 0;

  .room {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;

    .bg-street {
      z-index: 1;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }

    .main-street-layer {
      height: 100%;
      width: 15%;
      position: absolute;
    }

    .bg-rectangle {
      display: flex;
      position: absolute;
      left: 15%;
      height: 100%;
      width: 85%;

      .room-bg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 15%;
      }

      .room-credits {
        position: absolute;
        top: 6%;
        width: 70%;
        right: 5%;
        text-align: center;

        .credits {
          display: flex;
          justify-content: space-around;
          width: 100%;
          top: 18%;
          position: absolute;

          .key-credit, .coin-credit {
            width: 15%;
          }
        }
      }

      .map-nav {
        position: absolute;
        width: 14%;
        top: 7%;
        left: 5%;
      }

      .room-content {
        position: absolute;
        top: 17%;
        height: 77%;
        left: 10%;
        width: 80%;
      }

    }

  }
}
