<div class="room {{room.roomClass}}">

  <svg-icon src="/assets/sprites/Icon/Room/Street-Room-{{room.level}}.svg"
            class="bg-street"
            [svgStyle]="{'height': '100%', 'width': '100%'}"></svg-icon>
  <div class="main-street-layer" (click)="onStreetMapTap()"></div>

  <div class="bg-rectangle">

    <svg-icon class="map-nav" src="/assets/sprites/Icon/Room/Map-Nav.svg" (click)="onStreetMapTap()"></svg-icon>

    <div class="room-credits" *ngIf="level">
      <svg-icon src="/assets/sprites/Room/Credits/coin-border.svg"></svg-icon>
      <div class="credits">
        <svg-icon class="key-credit" *ngIf="!level.key"
                  src="/assets/sprites/Room/Credits/Key-inactive.svg"></svg-icon>
        <svg-icon class="key-credit" *ngIf="level.key"
                  src="/assets/sprites/Room/Credits/Key-active.svg"></svg-icon>
        <div class="coin-credit">
          <svg-icon *ngIf="level.coins.length > 0" src="/assets/sprites/Room/Credits/Coin-active.svg"></svg-icon>
          <svg-icon *ngIf="level.coins.length === 0" src="/assets/sprites/Room/Credits/Coin-inactive.svg"></svg-icon>
        </div>
        <div class="coin-credit" *ngIf="room.numberOfCoinsInRoom > 1">
          <svg-icon *ngIf="level.coins.length > 1" src="/assets/sprites/Room/Credits/Coin-active.svg"></svg-icon>
          <svg-icon *ngIf="level.coins.length <= 1" src="/assets/sprites/Room/Credits/Coin-inactive.svg"></svg-icon>
        </div>
      </div>

    </div>

    <svg-icon class="room-bg" src="/assets/sprites/Background/Room.svg"></svg-icon>

    <div class="room-content">
      <ng-content></ng-content>
    </div>
  </div>

</div>

