:host {

  .room {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    background-color: white;
    display: flex;

    &.room-blue {
      --room-color: blue;
    }

    &.room-red {
      --room-color: red;
    }

    &.room-yellow {
      --room-color: yellow;
    }

    .bg-street {
      height: 100%;
    }

    .bg-rectangle {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10%;

      .room-credits {
        position: absolute;
        top: 0;

        .credits {
          display: flex;
          justify-content: space-around;
          width: 100%;
          top: 15%;
          position: absolute;
        }
      }

      .map-nav {
        position: absolute;
        right: 0%;
        top: 10%;
      }

      .room-bg {
        margin-top: 25%;
      }

      .room-content {
        position: absolute;
        top: 15%;
        height: 80%;
        width: 80%;
      }

    }

  }
}
