:host {

  .room {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    background-color: white;
    display: flex;

    &.room-blue {
      --room-color: blue;
    }

    &.room-red {
      --room-color: red;
    }

    &.room-yellow {
      --room-color: yellow;
    }

    .bg-street {
      height: 100%;
    }

    .bg-rectangle {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10%;

      .map-nav {
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .room-content {
        position: absolute;
        height: 85%;
        width: 80%;
      }

    }

  }
}
