:host {
  display: flex;

  .background {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
  }
  .content {
    position: absolute;
    max-height: 88%;
    max-width: 90%;
    margin-top:13%;
    margin-left:6%;
  }

  .child-title {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin-top:10%;
    margin-left:5%;
    text-align: center;
  }

  .child-subtext {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin-top:10%;
    margin-left:5%;
    text-align: center;
  }

  .child-logo {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin-top:10%;
    margin-left:5%;
    text-align: center;
  }

  .child-button {
    display: flex;
    flex: 1 0 auto;
    margin-top:20%;
    margin-left: 26%;
    text-align: center;
  }

  .child-swipe {
    display: flex;
    flex: 1 0 auto;
    margin-top:40%;
    margin-left: 36%;
    text-align: center;
  }
}
