#background {
  width:100%;
  height: 100vh;
  background: url('../../assets/sprites/Onboarding/Background/Background1.svg') no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
}
