@import "person-animation";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .street {
    position: absolute;
    width: 86%;
    top: 20%;
    left: -10%;
  }

  .forest {
    pointer-events: none;
    position: absolute;
    width: 32%;
    top: 48%;
    left: 23%;
  }

  .bank {
    pointer-events: none;
    position: absolute;
    width: 52%;
    top: 58%;
    left: 3%;
  }

  .lake {
    pointer-events: none;
    position: absolute;
    width: 55%;
    top: 71%;
    left: -13%;
  }

  .kajak {
    pointer-events: none;
    position: absolute;
    width: 14%;
    top: 85%;
    left: 8%;

    animation: kajakAnimation 60s linear infinite;
  }

  .trees {
    pointer-events: none;
    position: absolute;
    width: 21%;
    top: 72%;
    left: 37%;
  }

  .mountains {
    pointer-events: none;
    position: absolute;
    width: 35%;
    top: 37%;
    left: 3%;
  }

  .cloud-left {
    pointer-events: none;
    position: absolute;
    width: 8%;
    top: 37%;
    left: 3%;
    animation: moveCloudLeft 35s linear infinite;
  }

  .cloud-right {
    pointer-events: none;
    position: absolute;
    width: 8%;
    top: 34%;
    left: 12%;
    animation: moveCloudRight 35s linear infinite;
  }

  .gondel-seil {
    pointer-events: none;
    position: absolute;
    width: 120%;
    top: 21%;
    left: -10%;
  }

  .gondel1 {
    position: absolute;
    transform-origin: top center;
    width: 15%;
    opacity: 0;

    animation: gondelAnimation 30s 4.5s linear infinite;
  }

  .gondel2 {
    position: absolute;
    transform-origin: top center;
    width: 15%;
    top: 33.5%;
    left: 60%;

    animation: gondelAnimation 30s reverse linear infinite;
  }

  .coins {
    position: absolute;
    width: 10%;
    top: 9%;
    left: 79%;
  }

  .coins-text {
    position: absolute;
    top: 14%;
    left: 84%;
    transform: translateX(-50%);
  }

  .room {

    &.badge {

      &::after {
        content: '';
        background-image: url("../../../assets/sprites/Icon/Map/medal.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }
    }

    &.unlockAnimation {
      opacity: 0;
      animation: showing 0.5s ease-in-out, puff-out-center 1s 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), puff-in-center 1s 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715);

      @keyframes showing {
        from {
          opacity: 1;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes puff-out-center {
        0% {
          transform: scale(1);
          filter: blur(0);
          opacity: 1;
        }
        100% {
          transform: scale(1.5);
          filter: blur(0.2rem);
          opacity: 0;
        }
      }

      @keyframes puff-in-center {
        0% {
          transform: scale(1.5);
          filter: blur(0.2rem);
          opacity: 0;
        }
        100% {
          transform: scale(1);
          filter: blur(0);
          opacity: 1;
        }
      }
    }

    &.room1 {
      position: absolute;
      width: 31%;
      top: 69.7%;
      left: 67%;
    }

    &.room2 {
      position: absolute;
      width: 31%;
      top: 54.2%;
      left: 67%;
    }

    &.room3 {
      position: absolute;
      width: 31%;
      top: 38.6%;
      left: 66.2%;
    }

    &.room4 {
      position: absolute;
      width: 31%;
      top: 22.7%;
      left: 66.5%;
    }

    &.room5 {
      position: absolute;
      width: 31%;
      top: 6.1%;
      left: 38.5%;
    }

    &.room6 {
      position: absolute;
      width: 31%;
      top: 6.2%;
      left: 1.5%;
    }
  }

  .person {
    pointer-events: none;
    position: absolute;

    &.pos0 {
      top: 93%;
      left: 75%;
    }

    &.pos1 {
      top: 76%;
      left: 61%;
    }

    &.pos2 {
      top: 61%;
      left: 58%;
    }

    &.pos3 {
      top: 46%;
      left: 61%;
    }

    &.pos4 {
      top: 29%;
      left: 63%;
    }

    &.pos5 {
      top: 24%;
      left: 54%;
    }

    &.pos6 {
      top: 23%;
      left: 16%;
    }
  }
}

@keyframes kajakAnimation {
  0% {
    top: 85%;
    left: 8%;
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    top: 79%;
    left: 16%;
    transform: rotate(-20deg)
  }
  20% {
    top: 75%;
    left: 16%;
    transform: rotate(-90deg);
  }
  40% {
    top: 74%;
    left: 0;
    transform: rotate(-130deg);
  }
  60% {
    top: 79%;
    left: -6%;
    transform: rotate(-220deg);
  }
  80% {
    top: 83%;
    left: -4%;
    transform: rotate(-270deg);
  }
  100% {
    top: 85%;
    left: 8%;
    transform: rotate(-360deg);
  }
}

$rotation: 7deg;
@keyframes gondelAnimation {
  0% {
    opacity: 0;
    top: 20.4%;
    left: -20%;
    transform: rotate($rotation);
  }
  3% {
    opacity: 1;
  }
  10% {
    transform: rotate(-$rotation);
  }
  20% {
    transform: rotate($rotation);
  }
  30% {
    transform: rotate(-$rotation);
  }
  40% {
    transform: rotate($rotation);
  }
  50% {
    transform: rotate(-$rotation);
  }
  60% {
    transform: rotate($rotation);
  }
  70% {
    transform: rotate(-$rotation);
  }
  80% {
    transform: rotate($rotation);
  }
  90% {
    transform: rotate(-$rotation);
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 41.8%;
    left: 104%;
    transform: rotate($rotation);
  }
}

@keyframes moveCloudLeft {
  0% {
    left: 3%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 30%;
    opacity: 0;
  }
}

@keyframes moveCloudRight {
  0% {
    left: 25%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 8%;
  }
}
