<!--RAUM-->
<svg-icon src="\assets\sprites\Icon\Map\Street.svg" class="street"></svg-icon>
<svg-icon #room1
          src="\assets\sprites\Room\1-Welt-der-Informatik.svg"
          class="room room1 {{getRoomClass(0)}} {{getBadgeClass(0)}}"
          (click)="activateRoom(0)">
</svg-icon>
<svg-icon #room2
          src="\assets\sprites\Room\2-Req-and-Design{{isRoomUnlocked(1) ? '-unlocked' : ''}}.svg"
          class="room room2 {{getRoomClass(1)}} {{getBadgeClass(1)}}"
          (click)="activateRoom(1)">
</svg-icon>
<svg-icon #room3
          src="\assets\sprites\Room\3-Develop-and-Testing{{isRoomUnlocked(2) ? '-unlocked' : ''}}.svg"
          class="room room3 {{getRoomClass(2)}} {{getBadgeClass(2)}}"
          (click)="activateRoom(2)">
</svg-icon>
<svg-icon #room4
          src="\assets\sprites\Room\4-Build-Deploy-and-Operate{{isRoomUnlocked(3) ? '-unlocked' : ''}}.svg"
          class="room room4 {{getRoomClass(3)}} {{getBadgeClass(3)}}"
          (click)="activateRoom(3)">
</svg-icon>
<svg-icon #room5
          src="\assets\sprites\Room\5-Rekrutierung{{isRoomUnlocked(4) ? '-unlocked' : ''}}.svg"
          class="room room5 {{getRoomClass(4)}} {{getBadgeClass(4)}}"
          (click)="activateRoom(4)">
</svg-icon>
<svg-icon #room6
          src="\assets\sprites\Room\6-Playground{{isRoomUnlocked(5) ? '-unlocked' : ''}}.svg"
          class="room room6 {{getRoomClass(5)}} {{getBadgeClass(5)}}"
          (click)="activateRoom(5)">
</svg-icon>

<!--PERSON-->
<svg-icon #person src="\assets\sprites\Icon\Avatar\{{progress.avatarType}}.svg"
          class="person pos{{progress.avatarPos}}"></svg-icon>

<!--UMGEBUNG-->
<svg-icon src="\assets\sprites\Icon\Map\Simple-Forest.svg" class="forest"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Bank.svg" class="bank"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Lake.svg" class="lake"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Kajak.svg" class="kajak"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Trees.svg" class="trees"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\mountains.svg" class="mountains"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\cloud-left.svg" class="cloud-left"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\cloud-right.svg" class="cloud-right"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Gondel-Seil.svg" class="gondel-seil"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Gondel1.svg" class="gondel1"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Gondel2.svg" class="gondel2"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Coin.svg" class="coins" (click)="coinsEinloesen()"></svg-icon>
<span class="coins-text"><b>{{progress.numberOfCollectedCoins}}/{{game.numberOfCoinsInGame}}</b></span>
