<!--RAUM-->
<svg-icon src="\assets\sprites\Icon\Map\Street.svg" class="street"></svg-icon>
<svg-icon src="\assets\sprites\Room\1-Welt-der-Informatik.svg" class="room1" (click)="activateRoom(0)"></svg-icon>
<svg-icon src="\assets\sprites\Room\2-Req-and-Design.svg" class="room2" (click)="activateRoom(1)"></svg-icon>
<svg-icon src="\assets\sprites\Room\3-Develop-and-Testing.svg" class="room3" (click)="activateRoom(2)"></svg-icon>
<svg-icon src="\assets\sprites\Room\4-Build-Deploy-and-Operate.svg" class="room4" (click)="activateRoom(3)"></svg-icon>
<svg-icon src="\assets\sprites\Room\5-Rekrutierung.svg" class="room5" (click)="activateRoom(4)"></svg-icon>
<svg-icon src="\assets\sprites\Room\6-Playground.svg" class="room6" (click)="activateRoom(5)"></svg-icon>

<!--UMGEBUNG-->
<svg-icon src="\assets\sprites\Icon\Map\Simple-Forest.svg" class="forest"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Bank.svg" class="bank"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Lake.svg" class="lake"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Kajak.svg" class="kajak"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Trees.svg" class="trees"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Mountains.svg" class="mountains"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Gondel.svg" class="gondel"></svg-icon>
<svg-icon src="\assets\sprites\Icon\Map\Coin.svg" class="coins"></svg-icon>
<span class="coins-text text-big">1/6</span>
