@import "person-animation";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .street {
    position: absolute;
    width: 86%;
    top: 20%;
    left: -10%;
  }

  .forest {
    pointer-events: none;
    position: absolute;
    width: 32%;
    top: 48%;
    left: 23%;
  }

  .bank {
    pointer-events: none;
    position: absolute;
    width: 52%;
    top: 58%;
    left: 3%;
  }

  .lake {
    pointer-events: none;
    position: absolute;
    width: 55%;
    top: 71%;
    left: -13%;
  }

  .kajak {
    pointer-events: none;
    position: absolute;
    width: 14%;
    top: 82%;
    left: 8%;
  }

  .trees {
    pointer-events: none;
    position: absolute;
    width: 21%;
    top: 72%;
    left: 37%;
  }

  .mountains {
    pointer-events: none;
    position: absolute;
    width: 35%;
    top: 37%;
    left: 3%;
  }

  .gondel {
    pointer-events: none;
    position: absolute;
    width: 110%;
    top: 21%;
    left: -5%;
  }

  .coins {
    position: absolute;
    width: 10%;
    top: 9%;
    left: 79%;
  }

  .coins-text {
    position: absolute;
    top: 14%;
    left: 84%;
    transform: translateX(-50%);
  }

  .room1 {
    position: absolute;
    width: 31%;
    top: 69.7%;
    left: 67%;
  }

  .room2 {
    position: absolute;
    width: 31%;
    top: 54.2%;
    left: 67%;
  }

  .room3 {
    position: absolute;
    width: 31%;
    top: 38.6%;
    left: 66.2%;
  }

  .room4 {
    position: absolute;
    width: 31%;
    top: 22.7%;
    left: 66.5%;
  }

  .room5 {
    position: absolute;
    width: 31%;
    top: 6.1%;
    left: 38.5%;
  }

  .room6 {
    position: absolute;
    width: 31%;
    top: 6.2%;
    left: 1.5%;
  }

  .person {
    pointer-events: none;
    position: absolute;
    width: 8%;
    transform: translate(-50%, -50%);

    &.pos0 {
      top: 93%;
      left: 75%;
    }

    &.pos1 {
      top: 76%;
      left: 61%;
    }

    &.pos2 {
      top: 61%;
      left: 58%;
    }

    &.pos3 {
      top: 46%;
      left: 61%;
    }

    &.pos4 {
      top: 29%;
      left: 63%;
    }

    &.pos5 {
      top: 21%;
      left: 54%;
    }

    &.pos6 {
      top: 20%;
      left: 16%;
    }
  }
}
