:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .street {
    position: absolute;
    width: 86%;
    top: 20%;
    left: -10%;
  }

  .forest {
    pointer-events: none;
    position: absolute;
    width: 32%;
    top: 48%;
    left: 23%;
  }

  .bank {
    pointer-events: none;
    position: absolute;
    width: 52%;
    top: 58%;
    left: 3%;
  }

  .lake {
    pointer-events: none;
    position: absolute;
    width: 55%;
    top: 71%;
    left: -13%;
  }

  .kajak {
    pointer-events: none;
    position: absolute;
    width: 14%;
    top: 82%;
    left: 8%;
  }

  .trees {
    pointer-events: none;
    position: absolute;
    width: 21%;
    top: 72%;
    left: 37%;
  }

  .mountains {
    pointer-events: none;
    position: absolute;
    width: 35%;
    top: 37%;
    left: 3%;
  }

  .gondel-seil {
    pointer-events: none;
    position: absolute;
    width: 120%;
    top: 21%;
    left: -10%;
  }

  .gondel1 {
    pointer-events: none;
    position: absolute;
    transform-origin: top center;
    width: 15%;
    opacity: 0;

    animation: gondelAnimation 30s 5s linear infinite;
  }

  .gondel2 {
    pointer-events: none;
    position: absolute;
    transform-origin: top center;
    width: 15%;
    top: 33.5%;
    left: 60%;

    animation: gondelAnimation 30s reverse linear infinite;
  }

  .coins {
    position: absolute;
    width: 10%;
    top: 9%;
    left: 79%;
  }

  .coins-text {
    position: absolute;
    top: 14%;
    left: 84%;
    transform: translateX(-50%);
  }

  .room1 {
    position: absolute;
    width: 31%;
    top: 69.7%;
    left: 67%;
  }

  .room2 {
    position: absolute;
    width: 31%;
    top: 54.2%;
    left: 67%;
  }

  .room3 {
    position: absolute;
    width: 31%;
    top: 38.6%;
    left: 66.2%;
  }

  .room4 {
    position: absolute;
    width: 31%;
    top: 22.7%;
    left: 66.5%;
  }

  .room5 {
    position: absolute;
    width: 31%;
    top: 6.1%;
    left: 38.5%;
  }

  .room6 {
    position: absolute;
    width: 31%;
    top: 6.2%;
    left: 1.5%;
  }
}

$rotation: 7deg;
@keyframes gondelAnimation {
  0% {
    opacity: 0;
    top: 20.4%;
    left: -20%;
    transform: rotate($rotation);
  }
  3% {
    opacity: 1;
  }
  10% {
    transform: rotate(-$rotation);
  }
  20% {
    transform: rotate($rotation);
  }
  30% {
    transform: rotate(-$rotation);
  }
  40% {
    transform: rotate($rotation);
  }
  50% {
    transform: rotate(-$rotation);
  }
  60% {
    transform: rotate($rotation);
  }
  70% {
    transform: rotate(-$rotation);
  }
  80% {
    transform: rotate($rotation);
  }
  90% {
    transform: rotate(-$rotation);
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 41.8%;
    left: 104%;
    transform: rotate($rotation);
  }
}
