
:host {
  display: flex;
  flex: 1 0 auto;
  flex-basis: 0;
  overflow-y: scroll;
  max-height: 100%;

  .quiz-room-question {
    display: flex;
    flex-direction: column;

    .quiz-room-answer {
      margin-bottom: .5rem;
      margin-top: .5rem;
    }
  }

}
