<div class="quiz-room" *ngIf="activeRoom">
  <div class="quiz-room-title">
    <img src="{{activeRoom.logo}}" class="quiz-room-logo">
    <h1>{{activeRoom.name}}</h1>
  </div>
  <div class="quiz-room-intro">
    <p>{{activeRoom.intro}}</p>
  </div>
  <div class="quiz-room-questions">
    <div class="quiz-room-question" *ngFor="let question of activeRoom.questions">
      <h2>{{ (question.isCorrect ? 'Y ' : 'N ')}}{{question.questionText}}</h2>
      <span class="quiz-room-answer"><input type="text" [(ngModel)]="question.clientAnswer"/></span>
      <button class="btn" (click)="checkAnswer(question)">prüfen</button>
    </div>
  </div>
</div>
