.frage {
  text-align: center;
  font-size: larger;
  font-weight: normal;
  margin-bottom: 1rem;

  .room-title {
    font-weight: bold;
  }
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-smiley {
  width: 20%;
}
