<h2>Wie fandest du diesen Raum?</h2>
<div class="feedback">
  <a (click)="onFeedbackClick(4)">
    <svg-icon class="feedback-smiley" src="\assets\sprites\Feedback\super-happy.svg"></svg-icon>
  </a>
  <a (click)="onFeedbackClick(3)">
    <svg-icon class="feedback-smiley" src="\assets\sprites\Feedback\happy.svg"></svg-icon>
  </a>
  <a (click)="onFeedbackClick(2)">
    <svg-icon class="feedback-smiley" src="\assets\sprites\Feedback\unsure.svg"></svg-icon>
  </a>
  <a (click)="onFeedbackClick(1)">
    <svg-icon class="feedback-smiley" src="\assets\sprites\Feedback\sad.svg"></svg-icon>
  </a>
</div>
