<div class="frage">Wie hat dir der Raum
  <div class="room-title">&laquo;{{room.name}}&raquo;</div>
  in echt gefallen?
</div>

<div class="feedback">
  <svg-icon class="feedback-smiley"
            src="\assets\sprites\Feedback\super-happy.svg"
            (click)="onFeedbackClick(4)">
  </svg-icon>
  <svg-icon class="feedback-smiley"
            src="\assets\sprites\Feedback\happy.svg"
            (click)="onFeedbackClick(3)">
  </svg-icon>
  <svg-icon class="feedback-smiley"
            src="\assets\sprites\Feedback\unsure.svg"
            (click)="onFeedbackClick(2)">
  </svg-icon>
  <svg-icon class="feedback-smiley"
            src="\assets\sprites\Feedback\sad.svg"
            (click)="onFeedbackClick(1)">
  </svg-icon>
</div>
