<div *ngIf="insights">

  <div>
    <br/>
    <span>Anzahl Raumfeedbacks: {{insights.nmbOfFeedbackRaum}}</span><br/>
    <span>Anzahl ITDays Feedbacks: {{insights.nmbOfFeedbackIt}}</span><br/>
    <span>Durchschnittliche Anzahl Raumfeedbacks per user: {{insights.avgUserFeedbackAnzahl}}</span><br/>
    <span>Verhältnis Raumfeedback/ITDaysfeedback per user: {{insights.verhaeltnisUserRaumFeedbackItFeedback}}</span><br/>

    <ul>
      <li *ngFor="let raum of filteredRaeume(insights.avgRaum); let i = index">
        RaumNr. {{i + 1}} - Durschnittliches Feedback: {{raum}}
      </li>
    </ul>

    <ul>
      <li *ngFor="let nmbrOfFeedbacks of filteredRaeume(insights.nmbOfFeedbacksPerRaum); let i = index">
        Anzahl feedbacks für Raum {{i + 1}}: {{nmbrOfFeedbacks}}
      </li>
    </ul>

    <ul>
      <li *ngFor="let feedback of insights.avgIt; let i = index">
        Feedbackfrage. {{i}} - Durschnittliches Feedback: {{feedback}}
      </li>
    </ul>
  </div>

  <canvas id="feedbackOverTime" width="600" height="400"></canvas>

  <ul>
    <li>
      <a href="/api/feedback/download/raum">Download Raum Feedback</a>
    </li>
    <li>
      <a href="/api/feedback/download/informatiktage">Download Informatiktage Feedback</a>
    </li>
  </ul>
</div>
