<div *ngIf="feedBackState && !progress.canTakePartInContest" class="feedback-container">

  <div class="content">
    <span>{{feedBackState.feedbackModel.frage}}</span>

    <input *ngIf="!feedBackState.isSelection" type="text" class="input-field"
           [(ngModel)]="feedBackState.answer.answer"/>
    <div *ngIf="feedBackState.isSelection" class="feedback">
      <a (click)="(feedBackState.answer.answer = 4) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\super-happy.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 3) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\happy.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 2) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\unsure.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 1) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\sad.svg"></svg-icon>
      </a>
    </div>
  </div>

  <app-button btnTitle="Weiter" (btnClicked)="(feedBackState = feedBackState.next())" [hidden]="!feedBackState.canProceed()"></app-button>

</div>

<div *ngIf="!feedBackState && !progress.canTakePartInContest" class="feedback-senden">
  <app-button (btnClicked)="sendFeedback()" btnTitle="Feedback senden"></app-button>
</div>

