:host {
  display: flex;

  .feedback-container {

    .content {

      input {
        margin: 1rem 0;
        width: calc(100% - 1rem);
        height: 5rem;
      }

      .feedback {

        display: flex;
        margin-top: 1rem;
        justify-content: space-between;

        .feedback-smiley-small {
          width: 3rem;
          display: block;
        }
      }
    }
  }

  .feedback-senden {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;

    padding-bottom {
      padding-bottom: 1rem;
    }
  }
}
