<div *ngIf="feedBackState && !progress.canTakePartInContest" class="feedback-container">

  <div class="left">
    <app-button btnTitle="<" (btnClicked)="(feedBackState = feedBackState.back())"
                *ngIf="feedBackState.canGoBack()"></app-button>
  </div>

  <div class="content">
    <span>{{feedBackState.feedbackModel.frage}}</span>

    <input *ngIf="!feedBackState.isSelection" type="text" class="input-field"
           [(ngModel)]="feedBackState.answer.answer"/>
    <div *ngIf="feedBackState.isSelection" class="feedback">
      <a (click)="(feedBackState.answer.answer = 4) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\super-happy.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 3) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\happy.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 2) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\unsure.svg"></svg-icon>
      </a>
      <a (click)="(feedBackState.answer.answer = 1) && (feedBackState = feedBackState.next())">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\sad.svg"></svg-icon>
      </a>
    </div>
  </div>

  <div class="right">
    <app-button btnTitle=">" (btnClicked)="(feedBackState = feedBackState.next())"
                [hidden]="!feedBackState.canProceed()"></app-button>
  </div>

</div>

<div *ngIf="!feedBackState && !progress.canTakePartInContest" class="feedback-senden">
  <app-button (btnClicked)="toLast()" btnTitle="Feeback bearbeiten" [style.paddingBottom.rem]="1"></app-button>
  <app-button (btnClicked)="sendFeedback()" btnTitle="Feedback senden"></app-button>
</div>

<!--  WETTBEWERB removed
<div class="wettbewerb" *ngIf="progress.canTakePartInContest">
  <h1>Wettbewerb</h1>
  <div *ngIf="!this.progress.takesPartInContest" class="wettbewerb-formular">
    <input type="text" placeholder="Vorname" [(ngModel)]="contest.firstName" class="input-field"/>
    <input type="text" placeholder="Nachname" [(ngModel)]="contest.lastName" class="input-field"/>
    <input type="text" placeholder="Email" [(ngModel)]="contest.eMail" class="input-field"/>
    <input type="number" placeholder="Geburtsjahr" [(ngModel)]="contest.yearOfBirth" class="input-field birthday"/>
    <app-button (btnClicked)="teilnehmen()" btnTitle="Teilnehmen"></app-button>
  </div>
  <div *ngIf="this.progress.takesPartInContest">
    <p>Vielen Dank für deine Teilnahme.</p>
    <app-button (btnClicked)="close()" btnTitle="Schliessen"></app-button>
  </div>
</div>
-->
