<div *ngIf="feedBackState && !progress.canTakePartInContest" class="feedback-container">

  <div class="content">
    <span #fragetext></span>

    <input *ngIf="!feedBackState.isSelection"
           type="text" class="input-field"
           [(ngModel)]="feedBackState.answer.answer"/>
    <div *ngIf="feedBackState.isSelection" [style.visibility]="showButton ? 'visible' : 'hidden'" class="feedback">
      <a (click)="feedbackClicked(4)">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\super-happy.svg"></svg-icon>
      </a>
      <a (click)="feedbackClicked(3)">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\happy.svg"></svg-icon>
      </a>
      <a (click)="feedbackClicked(2)">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\unsure.svg"></svg-icon>
      </a>
      <a (click)="feedbackClicked(1)">
        <svg-icon class="feedback-smiley-small" src="\assets\sprites\Feedback\sad.svg"></svg-icon>
      </a>
    </div>
  </div>

  <app-button [style.visibility]="showButton ? 'visible' : 'hidden'"
              btnTitle="Weiter"
              (btnClicked)="nextFeedbackState()"
              [hidden]="!feedBackState.canProceed()"></app-button>

</div>

<div *ngIf="!feedBackState && !progress.canTakePartInContest" class="feedback-senden">
  <div class="feedback-senden-text">Vielen Dank fürs Ausfüllen!</div>
  <app-button (btnClicked)="sendFeedback()" btnTitle="Feedback senden"></app-button>
</div>

