<ng-container>


  <div class="content">

    <div class="child-title">
      <h1>Wähle dein Charakter aus.</h1>
    </div>

    <div class="child-avatar-family">
      <img src="{{this.avatarImageBasePath}}/Julia.svg"
           class="girl"
           [ngClass]="{'selected': chosenAvatarType === 'Julia'}"
           (click)="chooseAvatarType($event, 'Julia')">

      <img src="{{this.avatarImageBasePath}}/Rolf.svg"
           class="man"
           [ngClass]="{'selected': chosenAvatarType === 'Rolf'}"
           (click)="chooseAvatarType($event, 'Rolf')">

      <img src="{{this.avatarImageBasePath}}/Sophie.svg"
           class="woman"
           [ngClass]="{'selected': chosenAvatarType === 'Sophie'}"
           (click)="chooseAvatarType($event, 'Sophie')">

      <img src="{{this.avatarImageBasePath}}/John.svg"
           class="boy"
           [ngClass]="{'selected': chosenAvatarType === 'John'}"
           (click)="chooseAvatarType($event, 'John')">
    </div>

    <app-button id="btn-create-avatar" btnTitle="Los geht's" *ngIf="chosenAvatarType"
                (btnClicked)="this.createAvatar()">
    </app-button>

  </div>

  <div class="child-swipe">
    <svg-icon src="/assets/sprites/Icon/Paging/3.svg" [svgStyle]="{'width': '80%'}"></svg-icon>
  </div>


</ng-container>
