<ng-container>


  <div class="content">

    <div class="child-title">
      <h1>Wähle dein Charakter aus.</h1>
    </div>

    <div class="child-avatar-family">
      <img src="{{this.avatarImageBasePath}}/Girl.svg"
           class="girl"
           [ngClass]="{'selected': chosenAvatarType === 'Girl'}"
           (click)="chooseAvatarType($event, 'Girl')">

      <img src="{{this.avatarImageBasePath}}/Man.svg"
           class="man"
           [ngClass]="{'selected': chosenAvatarType === 'Man'}"
           (click)="chooseAvatarType($event, 'Man')">

      <img src="{{this.avatarImageBasePath}}/Woman.svg"
           class="woman"
           [ngClass]="{'selected': chosenAvatarType === 'Woman'}"
           (click)="chooseAvatarType($event, 'Woman')">

      <img src="{{this.avatarImageBasePath}}/Boy.svg"
           class="boy"
           [ngClass]="{'selected': chosenAvatarType === 'Boy'}"
           (click)="chooseAvatarType($event, 'Boy')">
    </div>

    <app-button id="btn-create-avatar" btnTitle="Los geht's" (btnClicked)="this.createAvatar()"></app-button>

  </div>


</ng-container>
