<div class="content">

  <div class="child-title">
    <h1>Wähle dein Charakter aus.</h1>
  </div>

  <div class="child-avatar-family">
    <img class="girl" src="{{this.avatarImageBasePath}}/Girl.svg" (click)="chooseAvatarType($event, 'Girl')">
    <img class="man" src="{{this.avatarImageBasePath}}/Man.svg" (click)="chooseAvatarType($event, 'Man')">
    <img class="woman" src="{{this.avatarImageBasePath}}/Woman.svg" (click)="chooseAvatarType($event, 'Woman')">
    <img class="boy" src="{{this.avatarImageBasePath}}/Boy.svg" (click)="chooseAvatarType($event, 'Boy')">
  </div>

  <app-button id="btn-create-avatar" btnTitle="Los geht's" (btnClicked)="this.createAvatar()"></app-button>

</div>
